/* ******************************************************** */
/* ***			Oil 1.0.1 Theme © Volkeyrn              *** */
/* ******************************************************** */

@import url(https://fonts.googleapis.com/css?family=Asap:ital,wght@400,600,700,400italic,600italic,700italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Asap+Condensed:ital,wght@400,600,700,400italic,600italic,700italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:ital,wght@300,400,700,300italic,400italic,700italic&display=swap);

/**********************************************/
/******************** GAME ********************/
/**********************************************/
body.scheme_oil,
.scheme_oil .help,
.scheme_oil .dialog {
	background-color: #000000;
}
.scheme_oil #game,
.scheme_oil #loadingContainer {
    top: 18px;
}
.scheme_oil  #gamePageContainer,
.scheme_oil select,
.scheme_oil input[type='button'] {
	font-family: 'Asap', sans-serif;
}
.scheme_oil .btn,
.scheme_oil .modern,
.scheme_oil .btn.modern {
	font-family: 'Open Sans', sans-serif;
}
.scheme_oil .btn {
	color: gray;
	margin-bottom: 6px; /* default 10px */
	max-height: 36px;
	background-color: transparent;
	border: solid 1px transparent;
}
.scheme_oil .btn.modern {
	/* default font-size: 14px; */
	border-radius: 13px;
	width: 280px; /* +8px gained from padding default width: 264px; */
}
.scheme_oil .btn.modern.disabled {
	background-color: #101010;
	border: solid 1px #191919;
}
.scheme_oil .btn.modern.disabled:hover {
	background-color: #101010;
	border: solid 1px #393939;
	cursor: inherit;
}
.scheme_oil .btn.modern.disabled span.btnTitle { /* to change only the properties of the button name for buttons disabled */
	color: #595959;
}
.scheme_oil .btn.modern.disabled span.btnTitle.limited { /* to change only the properties of the button name for buttons limited */
	color: #a90909;
}
.scheme_oil .btn.modern:not(.disabled) {
	background-color: #191919;
	border: solid 1px #292929;
}
.scheme_oil .btn.modern:not(.disabled):hover {
	background: none;
	background-color: #292929;
	cursor: pointer;
	border: solid 1px #ffc900;
}
.scheme_oil .btn.modern:not(.disabled) span.btnTitle { /* to change only the properties of the button name for buttons enabled */
	color: #999999;
}
.scheme_oil .btn.modern:not(.disabled):hover span.btnTitle {
	color: #FFFFFF;
	text-shadow: 1px 1px 2px #090909;
}
.scheme_oil a {
	color: #797979;
}
.scheme_oil a,
.scheme_oil .craft-link {
    text-decoration: none;
}
.scheme_oil a:hover {
	color: #ffc900;
	opacity: 1.0; /* default opacity: 0.6 */
}
.scheme_oil div {
	color: #A9A9A9;
}
.scheme_oil .disabled div { /* color text for disabled */
	color: #494949;
}
.scheme_oil h1 {
    font-size: 16px; /* default font size = font-size: 12px; */
    color: #ffc900;
	padding-left: 20px;
}
.scheme_oil h1:first-child {
    margin-top: 10px; 
}
.scheme_oil .modern .btnContent {
	/* 10px left not necessary for buttons without on/off */
	padding: 10px 0 10px 1px; /* 1px left for buttons without power background-image */
}
/*** green and red light for machine on/off ***/
.scheme_oil .btn.bldEnabled div.btnContent,
.scheme_oil .btn.bldlackResConvert div.btnContent {
	border: none; /* also allows you to remove the height difference with the other buttons (they have no border on div.content) */
	padding: 10px 0 10px 23px; /* 23px left for power background-image - default padding: 10px 0 10px 10px; */
}
.scheme_oil .btn.bldlackResConvert div.btnContent {
	background: no-repeat local left 3px top 8px url('img/theme_oil_drop_off.png'); /* source of images for graphic design : https://pngtree.com/freepng/cartoon-oil-drop-product_4438330.html Volkeyrn: permanent premium member */
}
.scheme_oil .btn.bldEnabled div.btnContent { 
	background: no-repeat local left 3px top 8px url('img/theme_oil_drop_on.png'); /* source of images for graphic design : https://pngtree.com/freepng/cartoon-oil-drop-product_4438330.html Volkeyrn: permanent premium member */
}
/*** end of green light for machine on ***/
.scheme_oil .dialog {
	box-shadow: -1px -1px 3px #ffc900, 1px 1px 3px #292929;
	border: solid 1px #ffc900;
	border-right-color: rgba(255, 201, 0, 0.7);
	border-bottom-color: rgba(255, 201, 0, 0.7);
	border-radius: 19px 0 0 19px;
}
.scheme_oil .dialog a {
	font-weight: bold;
	text-transform: capitalize;
}
.scheme_oil label i { /* information text in option windows */
    /* default font size = font-size: 90%; */
    color: #707070;
}
.scheme_oil select { /* dropdown list on settlement tab and options windows */
    background-color: #000000;
    color: #A9A9A9;
	border-color : #292929;
	font-size: 13px;
	border-radius: 5px;
	margin-left: 3px;
	padding-bottom: 2px;
	box-shadow: inset 0 0 3px #101010,
	-1px -1px 1px #797979, 1px 1px 1px #191919;
}
.scheme_oil select>option {
    background-color: #000000;
    color: #A9A9A9;
	padding: 3px 10px; /* default padding: 4px 10px; */
}
.scheme_oil select > option:disabled {
	color: #707070;
	font-size: 90%;
}
.scheme_oil .dialog input[type="button"] {
	font-size : 12px !important;
	margin-left: 7px;
	margin-bottom: 10px;
}
.scheme_oil #optionsDiv input[type="checkbox"] + label:before {
    content: "\02299"; /* CircleDot */
	font: 12px sans-serif;
	color: #404040;
}
.scheme_oil #optionsDiv input[type="checkbox"]:checked + label:before {
	content: "\25C9"; /* FISHEYE */
	font: 14px sans-serif;
	color: rgba(255, 201, 0, 0.75); /* color #FFC900; */
}
.scheme_oil .dialog input#batchSize {
	background-color: #000000;
    color: #A9A9A9;
    padding: 3px 1px 3px 5px;
    margin-right: 5px;
	border: 2px inset #181818;
    box-shadow: inset -1px -1px 2px #202020, 
                inset 2px 2px 5px #000000;
	margin-top: 3px;
	margin-bottom: 3px;
}
.scheme_oil textarea#importData,
.scheme_oil textarea#exportData {
    color: #d9d9d9;
    background-color: #161616;
    margin-left: 10px;
    padding: 7px;
	border: 2px solid #ffc900;
	border-radius: 7px;
    box-shadow: 2px 2px 7px #000000 inset,
                 0 1px 2px rgba(200, 200, 200, 0.1) !important;
	/* Only FireFox */
	scrollbar-width: thin;
   	scrollbar-color:  #191919 #090909;
}

/*************************************************/
/******************** TOP BAR ********************/
/*************************************************/
.scheme_oil #topBar {
	background-color: #000000;
	font-size: 95%;
    height: 20px;
	border-bottom: none;
	box-shadow: inset 0 0 8px #101010,
				1px 1px 2px #191919;
	top: 0; /* for no shadow on top */
}
.scheme_oil #topBar a.copyright {
	color: #a90909;
}
.scheme_oil #topBar a.copyright:hover {
	color: #ffc900;
}
.scheme_oil #headerLinks .links-block { /* a link separator : | on header links */
	color: #333342;
}
.scheme_oil #topBar div,
.scheme_oil #topBar #sorrowTooltip { /* counter of BLS (Black Liquid Sorrow) */
	color: #999999;
}
.scheme_oil #sorrowTooltip.max {
    color: #a90909 !important; /* in default.js !important needed */
}
.scheme_oil #topBar > div:first-child > span:first-child:after {
    color: #ffc900;
    content: '\00a0\00a0\00a0Theme by Volkeyrn\00a0\00a0\00a0';
	text-shadow: none;
    text-decoration: none;
	font-weight: normal;
}
.scheme_oil #autosaveTooltip {
	color: #ffc900;
}
.scheme_oil #getTheApp-link { /* Get the app */
	color: #fc8d00 !important;
}
.scheme_oil #getTheApp-link:hover {
	color: #ffc900 !important;
}
.scheme_oil .links-block {
	padding-top: 0 !important;
}
.scheme_oil .toolbarIcon.happiness {
    color: #fc8d00;
}
.scheme_oil .toolbarIcon.energy,
.scheme_oil .button_tooltip .energyProduction {
    color: #8AC211;
}
.scheme_oil .toolbarIcon.energy.warningWinter {
    color: #fc8d00;
}
.scheme_oil .toolbarIcon.energy.warning,
.scheme_oil .button_tooltip .energyConsumption,
.scheme_oil .button_tooltip .energyPenalty {
	color: #a90909;
}

/************************************************/
/******************** FOOTER ********************/
/************************************************/
.scheme_oil #footerLinks {
	font-size: 90%;
	bottom: 5px; /* default bottom: 10px; */
	color: #191919; /* a link separator : | on footer links */
	background-color: #000000;
}

/*************************************************/
/******************** TOOLTIP ********************/
/*************************************************/
.scheme_oil #tooltip,
.scheme_oil .tooltip-block div {
	background-color: #101010;
	font-size: 14px;
	color: #898989; /* tooltip windows == left column : left text */
	border-style: solid;
	border-color: #292929;
	border-width: 2px 2px 2px 2px;
	border-radius: 9px;
	margin-left: 15px; /* for offset tooltip due to larger buttons .btn.modern */
	box-shadow: inset 0 0 40px 12px #000000,
	-1px -1px 2px #797979, 1px 1px 2px #191919;
}
.scheme_oil .tooltip-block div {
	padding: 5px;
}
.scheme_oil .button_tooltip {
	background-color: transparent;
}
.scheme_oil .button_tooltip div { /* tooltip window == left column: right text | center column :highlighting text */
	color: #a9a9a9;
	font-size: 14px;
}
.scheme_oil .tooltip-inner .desc { /* Tooltip Window : title text */
    color: #797979;
	font-size: 14px; /* default font-size: 15px; */
	border-bottom : 1px solid #202020 !important;
	margin-bottom: 5px;
	border-radius: 17px 7px 0 0;
}
.scheme_oil .tooltip-inner .desc.small {
	font-size: 75%; /* default font-size: 60%; */
	opacity: 1; /* default opacity: 0.8; */
}
.scheme_oil .tooltip-inner .desc.small.auto-off {
	color: #a90909;
}
.scheme_oil .tooltip-inner .desc.small.auto-on {
	color: #ffc900;
}
.scheme_oil .tooltip-divider { /* border line before effects text */
	border-bottom : 1px solid #202020 !important;
}
.scheme_oil #tooltip .effectName { /* Tooltip Window : effects text */
	color: #ffc900;
	font-size: 13px; /* default font-size: 14px; */
}
.scheme_oil .rawRes { /* Tooltip Window == text for all missing resources for primary resource */
    color: #606060;
	font-style: italic;
	padding-left: 12px;
}
.scheme_oil .button_tooltip .noRes,
.scheme_oil .limited { /* on ressource limited or not attainable */
	color: #a90909;
}
.scheme_oil #tooltip .flavor { /* Tooltip Window : last bottom text on center column tooltip window */
    color: #fc8d00;
	padding-right: 7px;
}

/*******************************************************/
/******************** CENTER COLUMN ********************/
/*******************************************************/
.scheme_oil .tab { 
	font-size: 15px;
}
.scheme_oil .tabInner {
    border: none; /* border for all under tabs in center column */
	padding: 7px !important; /* 8px gained for buttons width. default padding: 15px; */
	margin-bottom: 30px; /* to view end of panelContainer default margin-bottom: 20px; */
}
.scheme_oil .tabInner.Workshop div.panelContainer:last-child { /* last panelContainer on Workshop Tab */
	margin-bottom: 64px; /* to view entire dropdownlink of last button */
}
.scheme_oil .tabInner.Bonfire {
	margin-bottom: 0; /* default margin-bottom: 20px; */
}
.scheme_oil .tabInner label[for='toggleResearched'],
.scheme_oil .tabInner .expandAllBar a:last-child {
	margin-right: 15px !important;
}
.scheme_oil .tabsContainer {
	padding-bottom: 5px; /* default padding-bottom: 15px; */
	/* default padding-top: 2px; */
}
.scheme_oil .tabsContainer span:not(.genericWarning) { /* separator | for tab */
	color: #191919;
}
.scheme_oil .activeTab {
	color: #FFFFFF;
}
.scheme_oil a.activeTab {
	border-bottom: 9px solid transparent;
	border-image-source: url('img/theme_oil_drop_border.png'); /* source of images for graphic design : https://pngtree.com/freepng/gold-olive-oil-drops-vector-material_1583398.html Volkeyrn: permanent premium member */
	border-image-width: 0 0 9px 11px;
	border-image-slice: 9 11 9 11;
	border-image-outset: 0;
	border-image-repeat: round;
}
.scheme_oil a.activeTab:hover {
    color: #FFFFFF;
}
.scheme_oil span.genericWarning { /* number of kittens free or engineering free on tab */
	color: #a90909;
}
.scheme_oil .tab.traitLeaderBonus::before {
	content: "\2605"; /* BLACK STAR */
	color: #118AC2;
}
.scheme_oil .tab.engineer::before { /* artisan bonus */
	content: "\2692\00a0"; /* HAMMER AND PICK */
}
.scheme_oil .tab.metallurgist::before {
	content: "\267B\00a0"; /* BLACK UNIVERSAL RECYCLING SYMBOL */
}
.scheme_oil .tab.chemist::before {
	content: "\2623\00a0"; /* BIOHAZARD SIGN */
}
.scheme_oil .tab.merchant::before {
	content: "\2696\00a0"; /* SCALES */
}
.scheme_oil .tab.manager::before { /* hunting bonus */
	content: "\27B4\00a0"; /* BLACK-FEATHERED SOUTH EAST ARROW */
}
.scheme_oil .tab.scientist::before {
	content: "\269B\00a0"; /* ATOM SYMBOL */
}
.scheme_oil .tab.wise::before {
	content: "\2600\00a0"; /* BLACK SUN WITH RAYS */
}
.scheme_oil .bldTopContainer { /* under tab */
	font-size: 95%;
}
.scheme_oil .bldTopContainer a.activeTab {
	color: #FFFFFF;
	border-image-source: none;
}
.scheme_oil .bldTopContainer a.activeTab:hover {
    color: #FFFFFF;
	opacity: 0.7; /* default opacity 0.7 on not hover */
}
.scheme_oil .bldGroupContainer { /* container for all buttons on center column */
    padding-top: 5px; /* default 15px */
    border-top: 1px solid #191919;
    margin-top: 5px; /* default 10px */
}
.scheme_oil input[type='button'] {
	font-size: 15px !important;
	background-color: #000000 !important;
    cursor: pointer !important;
	box-shadow: inset 0 0 5px #101010,
	-1px -1px 1px #797979, 1px 1px 1px #191919 !important;
    border: solid 1px transparent !important; /* for no offset when border on */
    border-radius: 7px !important;
	color: #D9D9D9;
	padding: 5px 20px;
	font-weight: normal !important;
}
.scheme_oil input[type='button']:hover {
	background-color: #ffc900 !important;
	border: solid 1px #393939 !important;
	color: #202020 !important;
	cursor: pointer !important;
	font-weight: bold !important;
	box-shadow: 1px 1px 3px #191919 inset,
                 0 1px 1px rgba(200, 200, 200, 0.2) !important;
}
/* button observer different from other input buttons  */
.scheme_oil input[type='button']#observeBtn {
	text-shadow: 1px 1px 1px #000000;
	background-color: #292929 !important;
	color: #C9C9C9 !important;
	border: solid 1px #ffc900 !important;
	border-radius: 16px 8px;
	box-shadow: 0 2px 4px rgba(255, 201, 0, 0.8), -1px -1px 2px #797979, 
				inset 1px 1px 2px #000000 !important;	/* color #ffc900; */
}
.scheme_oil input[type='button']#observeBtn:hover {
	font-weight: normal !important;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
	background-color: #292929 !important;
	color: #F9F9F9;
	border: solid 1px rgba(17, 138, 194, 1) !important; /* color #118AC2; */
	box-shadow: 2px 3px 6px rgba(17, 138, 194, 1), -1px -1px 1px #797979,
                 0 1px 0 #118AC2 !important;
}
.scheme_oil .btn .btnContent a {
    max-width: 70px; /* default max-width: 50px; */
    /* default overflow-x: hidden; */
    /* default text-overflow: ellipsis; */
}
.scheme_oil .btn.modern a {
	color: gray;
	min-width: 22px; /* default min-width: 20px; */
	border-left: none; /* default border-left: 1px solid #888; */
	font-size: 12px;
	font-weight: 300;	
	background-color: transparent;
	padding: 10px 3px 10px 3px !important; /* default :  padding: 10px 6px 10px 6px !important; */
	text-shadow: none;
}
.scheme_oil .btn.modern:not(.disabled) a {
	color: #797979;
}
.scheme_oil .btn.modern.disabled a {
	color: #595959;
}
.scheme_oil .btn.modern a:hover {
	color: #E4E4E4;
	text-shadow: 1px 1px 1px #000000;
}
.scheme_oil .btn.modern:not(.disabled) a:hover {
	background-color: rgba(255, 255, 255, 0.2);
}
.scheme_oil .btn.modern.disabled a:hover {
	background-color: rgba(180, 180, 180, 0.2); /* color #B4B4B4 */
}
.scheme_oil .btn.modern:not(.disabled):active,
.scheme_oil input[type='button']:active,
.scheme_oil input[type='button']#observeBtn:active {
    border-color: #fc8d00;
}
.scheme_oil .btn.modern .linkContent { /* dropdown list on button */
    margin-top: 26px !important; /* for correct vertical align dropdown list */
    width: auto !important;
	background-color: #292929; /* color pick from button not disabled and hover */
	border-radius: 0 9px 9px 9px;
	border-style: solid;
	border-width: 1px;
	border-color: #ffc900;
}
.scheme_oil .btn.modern .linkContent a {
    width: 36px;
    margin-top: 0;
	margin-bottom: 0;
}
.scheme_oil .btn.modern.disabled .linkContent { /* dropdown list on button disabled */
	background-color: #101010; /* color pick from button disabled and hover */
	border-color: #393939 !important;
}
.scheme_oil .linkContent a:first-child,
.scheme_oil .linkContent a:first-child:hover {
	border-radius: 0 9px 0 0;
}
.scheme_oil .linkContent a:last-child,
.scheme_oil .linkContent a:last-child:hover {
	border-radius: 0 0 9px 9px;
}
/* Apply the right border radius of the button to the rightmost link */
.scheme_oil .btn.modern span.btnTitle + a,
.scheme_oil .btn.modern:not(.hasSellLink) a.off1Link, /* link minus on buildings buttons */
.scheme_oil .btn.modern:not(.hasSellLink) a.unassignLink, /* link minus on kittens jobs buttons */
.scheme_oil .btn.modern .btnContent a.rightestLink { /* for Combust TC button on Time tab */
	border-radius: 0 13px 13px 0; 	/* buttons border-radius: 13px; */
}
.scheme_oil .panelContainer {
	/* default margin-top: 8px; */
	box-shadow: -1px -1px 1px #797979, 1px 1px 1px #191919;
}
.scheme_oil .panelContainer {
	background: transparent;
	border: 1px solid #292929;
	border-radius: 11px;
}
.scheme_oil table.statTable {
	background: transparent;
	margin-top: 6px;
	margin-left: 12px;
	padding: 9px;
	border-radius: 15px;
	border: 2px solid rgba(252, 141, 0, 0.8);
	border-right-color: rgba(252, 141, 0, 0.6);
	border-bottom-color: rgba(252, 141, 0, 0.6);
	box-shadow: inset 1px 1px 3px rgba(255, 201, 0, 0.6), inset -2px -2px 3px #292929,
	-2px -2px 3px #494949, 2px 2px 3px #191919;
}
.scheme_oil .panelContainer .title {
	padding: 4px 4px 0 20px; /* default padding: 4px; */ /* default padding-left: 10px; */
	margin-bottom: 4px;
}
.scheme_oil .panelContainer div.title {
    color: #fc8d00;
	font-size: 16px !important;
}
.scheme_oil .panelContainer .toggle {
	font-size: 10px;
	color: #c9c9c9;
	margin: 7px 7px 0 0; /* default margin: 4px; */
	padding-left:  5px; /* default padding-left 6px */
	padding-right: 5px; /* default padding-right 6px */
	padding-bottom: 2px;
	border: 1px solid #292929;
	background: transparent;
	border-radius: 9px;
	box-shadow: inset 0 0 3px 1px #101010,
	-1px -1px 1px #797979, 1px 1px 1px #191919;
}
.scheme_oil .container {
	padding: 5px; /* default padding: 10px; */
}
.scheme_oil .container.trade-race .crypto-trade .btn.modern {
	max-width: 134px; /* (button content width - (2 x button border width) - (1 x button margin-right)) / 2 => (280 -2 -10)/2 = 134 */
}
.scheme_oil .container div.currentGovernment { /* for padding-bottom too height */
	padding-bottom: 6px !important; /* default padding-bottom: 10px; */
}
.scheme_oil .trade-race .buys {
	color: #a90909;
	font-size: smaller;
}
.scheme_oil .trade-race .sells {
	color: #ffc900;
	font-size: smaller;
}
.scheme_oil .trade-race .tradeAmount {
	color: #777777;
	font-size: smaller;
}
.scheme_oil .attitude { /* text for attitude races int trade tab */
	/* default font size = font-size: 90%; */
	color: #636A7C !important;
	text-shadow: none !important;
}
.scheme_oil .attitude:before {
	/* default content: "("; */
	content: "\00a0\227A\227B\00a0"; /* default content: "("; */ /* PRECEDES and SUCCEEDS */
	color: #a9a9a9;
	font-size: larger;
	font-weight: bold;
}
.scheme_oil .attitude:after {
	/* default content: ")"; */
	content: ""; /* default content: ")"; */
}
.scheme_oil .container.trade-race a[title='Pinned'] {
	color: #ffc900;
}
.scheme_oil .panelContainer div.censusFilters {
	margin-bottom: 3px; /* for add a margin under the 2 lists (select) in the settlement tab */
}
/* ---------- Village ----------*/
/* container 'Census' -> list of kittens in settlement tab */
.scheme_oil .panelContainer .census-block {
	background-color : transparent;
	box-shadow: inset 0 0 12px 2px #101010;
	border-radius: 7px;
	border-color: #191919;
	padding: 4px; /* default padding: 5px; */
	margin-bottom: 4px; /* default margin-bottom: 5px; */
}
.scheme_oil .census-block:hover {
	border-color: #606060;
}
.scheme_oil .census-block.simLeader {
	background-color : rgba(160, 160, 160, 0.2); /* color #A0A0A0; */
}
.scheme_oil .census-block.simLeader a.leaderHref {
	color: #118AC2;
}
.scheme_oil .census-block .info { /* info of kitten */
	font-size: 0.9em;
	color: #B9B9B9;
}
.scheme_oil .census-block .skill { /* jobs unasigned */
	color: #707070;
}
.scheme_oil .census-block .skill:first-of-type { /* job assigned */
	color: #ffc900;
	font-weight: normal !important;
}
.scheme_oil .census-block.simLeader .info span.name {  /* Leader name */ 
	font-size: 1.2em;
}
.scheme_oil .census-block.simLeader .skill:first-of-type { /* Leader job assigned */
	font-size: 1em; /* default font-size: 0.8em; */
}
.scheme_oil .census-block .color-none { /* name of kitten */
    color: #B9B9B9
}
.scheme_oil .census-block .color-brown {
    color: #955628;
}
.scheme_oil .census-block .color-cream {
    color: #c8ad7f;
}
.scheme_oil .census-block .color-black {
    color: #614b3a;
}
.scheme_oil .census-block .color-fawn {
    color: #ad4f09;
}
.scheme_oil .census-block .color-white {
    color: #EEEEEE;
}
.scheme_oil .container .name.variety-none {
	border: 1px solid transparent;
}
.scheme_oil .container .name.variety-dual { /* bicolore */
	border: 1px solid grey;
}
.scheme_oil .container .name.variety-tabby { /* tigré  ou rayé*/
	border: 1px dashed grey;
}
.scheme_oil .container .name.variety-torbie { /* marbré strié */
	border: 1px dashed grey;
	border-left: dotted;
	border-right: dotted;
}
.scheme_oil .container .name.variety-calico { /* tricolore */
	border: 1px solid grey;
	border-top-color: burlywood;
	border-bottom-color: burlywood;
}
.scheme_oil .container .name.variety-spots { /* tacheté */
	border: 1px dotted grey;
}
.scheme_oil .btn.modern a.bld-on,
.scheme_oil .btn.modern a.bld-off,
.scheme_oil .btn.modern a.auto-on,
.scheme_oil .btn.modern a.auto-off,
.scheme_oil .btn.modern a.fugit-on,
.scheme_oil .btn.modern a.fugit-off {
	width: 32px;
	background-repeat: no-repeat;
	background-attachment: local;
	background-position: left 6px center;
	padding: 10px 0 10px 0  !important;
	/* the code below for hiding text */
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
.scheme_oil .btn.modern a.bld-on,
.scheme_oil .btn.modern a.fugit-on {
	background-image: url('img/theme_oil_power_on.png'); /* source of images for graphic design : https://pngtree.com/freepng/switch-icon_4479735.html Volkeyrn: permanent premium member */
}
.scheme_oil .btn.modern a.bld-off,
.scheme_oil .btn.modern a.fugit-off {
	background-image: url('img/theme_oil_power_off.png'); /* source of images for graphic design : https://pngtree.com/freepng/switch-icon_4479735.html/ Volkeyrn: permanent premium member */
}
.scheme_oil .btn.modern a.auto-on {
	background-image: url('img/theme_oil_gear_on.png'); /* source of images for graphic design : https://pngtree.com/freepng/set-of-engineering-tools-icons-in-simple-glyph-style_5316639.html Volkeyrn: permanent premium member */
}
.scheme_oil .btn.modern a.auto-off {
	background-image: url('img/theme_oil_gear_off.png'); /* source of images for graphic design : https://pngtree.com/freepng/set-of-engineering-tools-icons-in-simple-glyph-style_5316639.html Volkeyrn: permanent premium member */
}
.scheme_oil .btn.modern.craftOn span.btnTitle { /* all buttons with engineer(s) in workshop tab */
	color: #ffc900;
	opacity: 0.7;
}
.scheme_oil .btn.modern.craftOn:hover span.btnTitle {
	color: #ffc900;
	opacity: 1;
	text-shadow: 1px 1px 2px #090909;
}
.scheme_oil td.craftStuffPanel > span { /* title of craft stuff panel */
	color: #fc8d00;
}
.scheme_oil td.craftStuffPanel > table { /* craft stuff panel */
	background-color : rgba(140, 140, 140, 0.1); /* color #8C8C8C; */
	box-shadow: -1px -1px 1px #797979, 1px 1px 1px #191919;
	border: 1px solid #292929;
	border-radius: 11px;
	margin-top: 10px;
	padding: 10px 20px; /* default padding-top: 20px; */
}

/**********************************************************/
/******************** ACHIEVEMENTS TAB ********************/
/**********************************************************/
.scheme_oil .achievement-header {
	color: #F0F0F0;
	font-size: 16px;
	margin-bottom: 10px;
	padding-left: 20px;
}
.scheme_oil .achievement {
	display: block;
	font-size: 15px;
	margin: 10px; /* default margin-bottom: 10px; */
    height: 40px;
    background-color: #000000;
    color: #909090;
    text-shadow: rgba(192, 192, 192) 2px 0 10px; /* color #BBC0CA */
    letter-spacing: 1px;
	border-color : rgba(255, 201, 0, 0.3); /* color #FFC900; */
	border-radius: 19px;
}
.scheme_oil .achievement:hover {
	color: #E0E0E0;
    background-color: rgba(160, 160, 160, 0.07); /* color #A0A0A0; */
	border-color : rgba(255, 201, 0, 1); /* color #FFC900; */
}
.scheme_oil .achievement:not(.unethical).unlocked:hover {
	box-shadow: 0 0 5px #ffc900, inset 0 0 3px #fc8d00;
}
.scheme_oil .achievement.unethical {
    text-shadow: rgb(169, 9, 9) 2px 0 10px;
	background-color: rgba(169, 9, 9, 0.01); /* color #a90909 */
	border-color : rgba(169, 9, 9, 0.3); /* color #a90909 */
}
.scheme_oil .achievement.unethical:hover {
    background-color: rgba(169, 9, 9, 0.3); /* color #a90909 */
	border-color : rgba(169, 9, 9, 1); /* color #a90909 */
	box-shadow: 0 0 5px #a90909, inset 0 0 5px 1px rgba(169, 9, 9, 0.1); /* color #a90909 */
}
.scheme_oil .achievement:not(.unlocked) {
    color: rgba(220, 220, 220, 0.3);
	background-color: #000000;
    text-shadow: none;
	border-color : rgba(80, 80, 80, 0.1);
}
.scheme_oil .achievement:not(.unlocked):hover {
	color: rgba(220, 220, 220, 0.3);
	background-color: #000000;
	border-color : rgba(80, 80, 80, 0.3);
}
.scheme_oil .achievement:after {
	display: block;
	letter-spacing: normal;
    margin-top: 5px;
	font-size: 90%;
    color: #b0b0b0;
    text-shadow: none;
}
.scheme_oil .achievement-header .star {
	/* default font size = font-size: 18px; */
    color: #fc8d00; /* orange or dominant color of the theme */
}
.scheme_oil .achievement .star {
	/* default font size = font-size: 18px; */
	color : #888888;
}
.scheme_oil .achievement.unlocked .star {
	color : #fc8d00; /* orange or dominant color of the theme */
	font-weight: bold;
	text-shadow: 0 1px #000000;
}

/******************************************************/
/******************** RIGHT COLUMN ********************/
/******************************************************/
.scheme_oil #rightColumn {
	width: calc(50% - 355px);
	max-width: 440px;
}
.scheme_oil #toggleCenter,
.scheme_oil span.toggleCenter {
	color: #b0b0b0;
	opacity: 0.4; /* default opacity: 0.2; */
	cursor: pointer;
}
.scheme_oil span.toggleCenter {
	opacity: 1; /* for have #toggleCenter same color */
}
.scheme_oil #toggleCenter:hover,
.scheme_oil div#toggleCenter:hover > span.toggleCenter {
	color: #ffc900;
	opacity: 1.0;
}
.scheme_oil #calendarDiv {
    color: #A9A9a9;
	padding-left: 5px;
    margin-top: 5px;
	font-weight: bold;
	font-size: 90%;
}
.scheme_oil #calendarSign {
   font-size: 120%;
}
.scheme_oil #calendarSign:hover {
   cursor: default;
}
.scheme_oil .right-tab-header { /* Log and Chat link on right column */
	/* default margin-top: 10px; */
	font-size: 80%;
	border-bottom: 1px solid #191919;
	height: 20px;
 }
.scheme_oil .right-tab-header a.active {
    text-decoration: none;
	border-top: 1px solid #292929;
	border-left: 1px solid #292929;
	border-right: 1px solid #191919;	
	border-bottom: 1px solid #000000;
	border-radius: 9px 9px 0 0;
	box-shadow: 0 3px #000000, -1px -1px 1px #494949, 1px 0 2px #191919;
	color: #DDDDDD;
}
.scheme_oil .right-tab-header a:not(.active) {
	text-decoration: none;
	border-top: none;
}
.scheme_oil #rightTabChat {
	margin-top: 20px;
}
.scheme_oil div.console-intro { /* Text on right column : "You are a kitten in a catnip forest." */
	color: #494949;
	font-size: 90%;
	font-weight: normal; /* thin if possible with font sizes */
	border-top: 1px solid #191919 !important;
	margin-top: 10px;
}
.scheme_oil #clearLogHref { /* Link in right column : Clear log */
	font-size: 80%;
}
.scheme_oil #logFiltersBlock > a { /* Link in right column : [+]Log Filters */
	font-size: 80%;
	margin-left: 5px;
}
.scheme_oil #pauseBtn { /* Link in right column : pawse */
	margin-left: 5px;
}
.scheme_oil #gameLog {
	margin: 6px 3px 3px 3px;
	border: 1px solid #595959;
	border-right-color: #393939;
	border-bottom-color: #393939;
	border-radius: 15px 0 0 15px;
	padding: 0 4px 4px 4px;
	box-shadow: -1px -1px 1px #393939, 1px 1px 1px #191919;
	/* 3 lines of code below if border with an image */
	min-height: 5% !important;
	height: unset !important; 
	max-height: calc(100% - 100px) !important;
	scrollbar-width: thin; /* only Firefox */
}
.scheme_oil #gameLog span.msg:not(.type_date)  {
    margin-left: 1.2em;
	list-style-type: '\2609'; /* sun */
	padding-left: 0.3em;
	font-family: 'Asap Condensed', sans-serif;
}
.scheme_oil #gameLog span.noBullet {
	margin-left: 2.3em !important;
	list-style-type: disc !important;
}
.scheme_oil .msg {
	font-size: 85%;
	font-weight: 400; /* thin if possible with font sizes */
	color: #999999;
}
.scheme_oil .msg.type_notice {
    color: #118AC2; /* color default : #01A9DB; */
}
.scheme_oil .msg.type_important {
    color: #fc8d00; /* color default : coral; */
}
.scheme_oil .msg.type_alert {
    color: #a90909; /* color default : red; */
}
.scheme_oil .msg.type_urgent {
	color: #ffc900; /* default color: blueviolet; */
	font-size: 1.1em;
}
.scheme_oil .msg.type_date {
	color: #ffc900;
	/* default font-size: 90%; */
	text-transform: none;
	border-bottom: solid 1px #999999;
	padding-left: 10px;
}

/*****************************************************/
/******************** LEFT COLUMN ********************/
/*****************************************************/
.scheme_oil #leftColumn {
	margin-top: 4px;
	/* -20px gained on res-table with border collapse and padding-right. default max-width: 400px; */
	padding-right: 12px; /* -8px gained on res-toolbar.right padding-right default padding right : 20px */
}
.scheme_oil .res-toolbar.right {
	padding-right: 20px;
}
.scheme_oil a.link.collapse {
    opacity: 0.5; /* default opacity: 0.2; */
}
.scheme_oil a.link.collapse:hover {
	color: #ffc900;
	opacity: 1;
}
.scheme_oil div.tooltip-block > span {
	color: #797979;
}
.scheme_oil div.tooltip-block:hover > span {
	font-weight: bold;
	color: #ffc900;
}
.scheme_oil .res-toolbar .link.toggled {
    color: #ffc900;
}
.scheme_oil .res-table {
    /* max-width: 352px;    /* +12 pixel */
    border-collapse: collapse; /* gain of 3 pixel by border -> no margin bottom after */
	margin-left: 2px; /* without 0px margin left for all ressources */
 }
.scheme_oil .res-row {
    border-left: solid 1px transparent; /* to avoid shifts on the hover */
}
.scheme_oil .res-row:hover {
    background-color: rgba(200, 200, 200, 0.1); /* color #C8C8C8 */
	cursor: default;
	border-left: solid 1px #ffc900;
}
.scheme_oil .highlited { /* higlighting ressources when hover button on center windows */
	background-color: rgba(200, 200, 200, 0.1); /* color #C8C8C8 */
	border-left: solid 1px #ffc900;
}
.scheme_oil .craftTable {
	 margin-bottom: 10px !important; /* for correct margin bottom due of the line above with border-collapse: collapse on .res-Table ! */
 }
.scheme_oil .res-cell.craft-link {
	color: #797979;
	/* default width: 20px; */
	/* default max-width: 60px; */
 }
.scheme_oil .res-cell.craft-link:hover,
.scheme_oil .res-cell.craft-link.all:hover { /* craft table left column */
    color: #ffc900;
	text-decoration: none;
	opacity: 1;
}
.scheme_oil .resource-name,
.scheme_oil .maxRes,
.scheme_oil .resAmount,
.scheme_oil .resLimitWarn,
.scheme_oil .resLimitNotice,
.scheme_oil .resPerTick,
.scheme_oil .res-cell.resource-value,
.scheme_oil .res-cell.craft-link {
	font-family: 'Asap Condensed', sans-serif;
}
.scheme_oil .maxRes {
	color: #898989;
}
.scheme_oil .resAmount {
    color: #898989;
}
.scheme_oil .resLimitWarn {
    color: #fc8d00;
	opacity: 1; /* default = 0.75 */
}
.scheme_oil .resLimitNotice {
    color: #E9E9E9;
}
.scheme_oil .resPerTick {
	color: #A9A9A9;
}
.scheme_oil .res-row.resLeaderBonus .resPerTick {
	color: #118AC2;
}
.scheme_oil .res-row.craftEngineer .res-cell.resource-value {
	color: #ffc900;
	opacity: 0.7;
}
.scheme_oil div#advisorsContainer {
	color: #a90909;
	padding-top: 6px;/* default padding-top: 10px; */
}
.scheme_oil #fastHuntContainerCount { /* Text left column : "xx times" from Send hunters */
	color: #c9c9c9;
	font-size: smaller;
}
.scheme_oil #fastPraiseContainer >a:hover {
	text-shadow: 0 0 7px #ffc900 !important;
}
.scheme_oil .res-cell.positive-weather { /* to change the color for bonus cell according to the season */
	font-size: 0.8em !important;
	color: #ffc900 !important;
}
.scheme_oil .res-cell.negative-weather { /* to change the color for penalty cell according to the season */
	font-size: 0.8em !important;
	color: #a90909 !important;
}
.scheme_oil .res-cell.craft-link.all { /* 6th column of craft table : "all" */
	font-size: 90%; /* default font-size: 80%; */
	opacity: 0.7; /* default opacity: 0.4; */
	color: #fc8d00;
}
.scheme_oil .resource_faith .resource-name,
.scheme_oil .resource_kittens .resource-name,
.scheme_oil .resource_steel .resource-name,
.scheme_oil .resource_gear .resource-name,
.scheme_oil .resource_alloy .resource-name,
.scheme_oil .resource_megalith .resource-name {
	color: #606060 !important;
}

/***************************************************/
/******************** SCROLLBAR ********************/
/***************************************************/
.scheme_oil ::-webkit-scrollbar-thumb {
    background: #191919;
	border-radius: 40px;
}
.scheme_oil ::-webkit-scrollbar-track {
    background: #090909;
    border-radius: 50px;
}
/* Only FireFox */
.scheme_oil #leftColumn,
.scheme_oil #rightColumn,
.scheme_oil #midColumn,
.scheme_oil .dialog,
.scheme_oil #gamelog {
   scrollbar-width: thin;
   scrollbar-color: #191919 #090909 !important;
}
.scheme_oil select {
   scrollbar-width: auto !important;
}
