/* ************************************************************* */
/* ***			Bluish 1.0.0 Theme © Volkeyrn                *** */
/* ************************************************************* */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:ital,wght@300,400,600,700,300italic,400italic,600italic,700italic,&display=swap);
@import url(https://fonts.googleapis.com/css?family=Cabin:ital,wght@400,600,700,400italic,600italic,700italic,&display=swap);

/* ******************************************** */
/* ******************* GAME ******************* */
/* ******************************************** */

body.scheme_bluish {
	background-color: #141936;
}
.scheme_bluish #gamePageContainer,
.scheme_bluish select,
.scheme_bluish .btn,
.scheme_bluish .modern,
.scheme_bluish .btn.modern,
.scheme_bluish input[type='button'] {
	font-family: 'Cabin', sans-serif;
}
.scheme_bluish .btn {
	color: gray;
	margin-bottom: 6px; /* default margin-bottom: 10px; */
	background-color: transparent;
	border: solid 1px transparent;
    /* default padding: 5px; */
	/* default width: 170px; */
	max-height: 36px;
}
.scheme_bluish .btn.modern {
	/* default font-size: 14px; */
	/* default font-family: Helvetica; */
    /* default border: solid 1px transparent; */
    /* default padding: 0; */
	border-radius: 11px;/* default border-radius: 3px; */
	width: 266px; /* default width: 264px; */
}
.scheme_bluish .btn.modern.disabled {
	border: solid 1px #19203e;
	background: #1b2342;
}
.scheme_bluish .btn.modern.disabled:hover {
	box-shadow: 0 0 0 1px #283463;
}
.scheme_bluish .btn.modern.disabled span.btnTitle { /* to change only the properties of the button name for buttons disabled */
	color: #4b5373;
}
.scheme_bluish .btn.modern.disabled span.btnTitle.limited { /* to change only the properties of the button name for buttons limited */
	color: #da667b;
}
.scheme_bluish .btn.modern:not(.disabled) {
	border: solid 1px #19203e;
	background:	#20294c;
}
.scheme_bluish .btn.modern:not(.disabled):hover {
	background: #27325c;
	box-shadow: 0 0 0 1px #283463;
}
.scheme_bluish .btn.modern:not(.disabled) span.btnTitle { /* to change only the properties of the button name for buttons enabled */
	color: #bbc4ee;
}
.scheme_bluish a {
	color: #715dba;
}
.scheme_bluish a,
.scheme_bluish .craft-link {
    text-decoration: none;
}
.scheme_bluish a:hover {
	color: #915dfa;
	opacity: 1.0; /* default opacity: 0.6 */
}
.scheme_bluish div {
	color: #a6acc7;
}
.scheme_bluish .disabled div { /* color text for disabled */
	color: #4b5373;
}
.scheme_bluish h1 {
	/* default margin-top: 30px; */
	font-size: 18px; /* default font size = font-size: 12px; */
	text-transform: capitalize;
	color: #d3d9f4;
	padding-left: 20px;
	margin-bottom: 8px;
}
.scheme_bluish h1:first-child {
    margin-top: 15px;
}
/* .scheme_bluish .btn.modern.small-text { */
	/* default font-size: 90%; */
/* } */
.scheme_bluish .modern .btnContent {
    padding: 10px 0 10px 1px; /* 1px left for buttons without power background-image */
}
/* *** green and red light for machine on/off *** */
.scheme_bluish .btn.bldEnabled div.btnContent,
.scheme_bluish .btn.bldlackResConvert div.btnContent {
	padding: 10px 0 10px 17px; /* 17px left for power background-image */
	border: none; /* also allows you to remove the height difference with the other buttons (they have no border on div.content) */
}
.scheme_bluish .btn.disabled.bldlackResConvert { /* color for lack resources convertion */
	background: no-repeat padding-box linear-gradient(90deg, #da667b 0%, #da667b 12px, transparent 15px, transparent 100%), #1b2342;
}
.scheme_bluish .btn.disabled.bldlackResConvert:hover {
	background: no-repeat padding-box linear-gradient(90deg, #da667b 0%, #da667b 12px, transparent 15px, transparent 100%), #1b2342;
}
.scheme_bluish .btn:not(.disabled).bldlackResConvert {
	background: no-repeat padding-box linear-gradient(90deg, #da667b 0%, #da667b 12px, transparent 15px, transparent 100%), #20294c;
}
.scheme_bluish .btn:not(.disabled).bldlackResConvert:hover {
	background: no-repeat padding-box linear-gradient(90deg, #da667b 0%, #da667b 12px, transparent 15px, transparent 100%), #27325c;
}
.scheme_bluish .btn.disabled.bldEnabled {
	background: no-repeat padding-box linear-gradient(90deg, #77da66 0%, #77da66 12px, transparent 15px, transparent 100%), #1b2342;
}
.scheme_bluish .btn.disabled.bldEnabled:hover {
	background: no-repeat padding-box linear-gradient(90deg, #77da66 0%, #77da66 12px, transparent 15px, transparent 100%), #1b2342;
}
.scheme_bluish .btn:not(.disabled).bldEnabled {
	background: no-repeat padding-box linear-gradient(90deg, #77da66 0%, #77da66 12px, transparent 15px, transparent 100%), #20294c;
}
.scheme_bluish .btn:not(.disabled).bldEnabled:hover {
	background: no-repeat padding-box linear-gradient(90deg, #77da66 0%, #77da66 12px, transparent 15px, transparent 100%), #27325c;
}
/* *** end of green light for machine on/off *** */
.scheme_bluish .dialog {
	/* default left: 50%; */
	/* default top: 50%; */
	/* default padding: 20px; */
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #141936;
	border: 2px solid #3a57fc;
	border-radius: 7px;
	box-shadow: 0 -1px #5f77fd, 0 0 1px 2px #1537fb;
}
.scheme_bluish .dialog a {
	text-transform: capitalize;
}
.scheme_bluish label i { /* information text in option windows */
    /* default font size = font-size: 90%; */
	color: #707070;
	opacity: 0.8;
}
.scheme_bluish label:hover {
	opacity: 1;/* default opacity: 0.7; */
	color: #915dfa;
}
.scheme_bluish label:hover i {
	text-shadow: none;
}
.scheme_bluish select { /* dropdown list on settlement tab and options windows */ /* 226d38 */
	background-color: #3a57fc;
	color: #d3d9f4;
	border: 1px solid #1537fb;
	border-radius: 7px;
	box-shadow: inset 1px 0 2px #5f77fd, inset 0 1px #2747fc, inset 0 -1px #2747fc, inset -1px 0 3px #2747fc;
	font-size: 14px;
	margin-left: 3px;
}
.scheme_bluish select:hover { /* dropdown list on settlement tab and options windows */
	background-color: #2747fc;
	border-color: #0427f2;
	box-shadow: none;
}
.scheme_bluish select>option {
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), #141936;
    color: #a6acc7;
	padding: 2px 10px; /* -2 pixel vertical */
}
.scheme_bluish select > option:disabled {
	color: #707070;
	font-size: 90%;
}
.scheme_bluish #optionsDiv input[type="checkbox"] + label:before {
    content: "\25CB"; /* WHITE CIRCLE */
	font: 16px sans-serif;
	color: #707070;
	text-shadow: 0 0 1px #000000;
}
.scheme_bluish #optionsDiv input[type="checkbox"]:checked + label:before {
	content: "\25CF"; /* BLACK CIRCLE */
	font: 16px sans-serif;
	color: #1537fb;
	text-shadow: 0 0 1px #000000;
}
.scheme_bluish .dialog input[type="button"] {
	margin-left: 17px;
	margin-bottom: 10px;
}
.scheme_bluish .dialog input#batchSize {
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), #141936;
	color: #a6acc7;
	border: 1px inset #19203e;
	border-radius: 7px;
	padding: 3px 1px 3px 5px;
    margin-right: 5px;
	margin-top: 3px;
	margin-bottom: 3px;
}
.scheme_bluish textarea#importData,
.scheme_bluish textarea#exportData {
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), #141936;
	color: #a6acc7;
	border: 1px inset #19203e;
	border-radius: 7px;
	padding: 5px;
	margin-bottom: 3px;
}
.scheme_bluish input:active,
.scheme_bluish select:active,
.scheme_bluish textarea:active {
    border-color: #d3d9f4 !important;
}

/* *********************************************** */
/* ******************* TOP BAR ******************* */
/* *********************************************** */
.scheme_bluish #topBar {
    height: 28px; /* default height: 26px; */
	top: 0; /* for no shadow on top */
	box-shadow: none; /* default box-shadow: 1px 0px 2px #888; */
	border-bottom: 1px solid #19203e;
	background-color: rgba(0, 0, 0, 0.2);
	/* default min-width: 1180px; */
}
/* .scheme_bluish #topBar a {
    /* default padding-left: 2px; */
	/* default padding-right: 2px; */
/* } */
.scheme_bluish #topBar a.copyright {
	color: #da667b;
}
.scheme_bluish #topBar a.copyright:hover {
	color: #915dfa;
}
.scheme_bluish #headerLinks .links-block { /* a link separator: | on header links */
	color: #1f284e;
}
.scheme_bluish #topBar div,
.scheme_bluish #topBar #sorrowTooltip { /* counter of BLS (Black Liquid Sorrow) */
	color: #a6acc7;
}
.scheme_bluish #sorrowTooltip.max {
    color: #da667b !important; /* in default.js !important needed */
}
.scheme_bluish #topBar > div:first-child > span:first-child:after {
    color: #586cf5;
    content: '\00a0\00a0\00a0Theme by Volkeyrn\00a0\00a0\00a0';
    text-decoration: none;
	font-weight: normal;
}
.scheme_bluish #autosaveTooltip {
	color: #586cf5;
}
.scheme_bluish #getTheApp-link { /* Get the app */
	color: #586cf5 !important;
}
.scheme_bluish #getTheApp-link:hover {
	color: #915dfa !important;
}
.scheme_bluish .links-block {
	padding-top: 5px !important;
}
.scheme_bluish .toolbarIcon.happiness {
    color: #f6aa5c;
}
.scheme_bluish .toolbarIcon.energy,
.scheme_bluish .button_tooltip .energyProduction {
    color: #77da66;
}
.scheme_bluish .toolbarIcon.energy.warningWinter {
    color: #f6aa5c;
}
.scheme_bluish .toolbarIcon.energy.warning,
.scheme_bluish .button_tooltip .energyConsumption {
	color: #da667b;
}
.scheme_bluish .button_tooltip .energyPenalty {
	color: #da667b;
}

/* ********************************************** */
/* ******************* FOOTER ******************* */
/* ********************************************** */
.scheme_bluish #footerLinks {
	font-size: 90%;
	bottom: 3px; /* default bottom: 10px; */
	/* default right: 5px; */
	color: #1f284e; /* a link separator: | on footer links */
}

/* *********************************************** */
/* ******************* TOOLTIP ******************* */
/* *********************************************** */
/* .scheme_bluish .tooltip-inner {
	/* default width: 280px; */
	/* font-size: 13px; /* for center tooltip except title, effects and flavor */
/* } */
.scheme_bluish #tooltip,
.scheme_bluish .tooltip-block div {
	/* default padding-left: 3px; */
	padding-bottom: 5px;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #141936;
	color: #6c91f8; /* tooltip windows == left column: left text */
	border: 1px solid #3a57fc;
	border-radius: 7px;
	/* margin-left: 20px; /* for offset tooltip due to larger buttons .btn.modern */
}
.scheme_bluish .tooltip-block div { /* tooltip on ? top right column */
	padding: 5px;
}
.scheme_bluish .button_tooltip {
	background-color: transparent;
}
.scheme_bluish .button_tooltip div { /* tooltip window == left column: right text | center column:highlighting text */
	color: #a6acc7;
}
.scheme_bluish .tooltip-inner .desc { /* Tooltip Window: title text */
    color: #a6acc7;
	/* default font size = font-size: 15px; */
	border-bottom: 1px solid #19203e !important; /* in core.js !important needed */
	/* default padding-top: 4px; */
	margin-bottom: 5px;
}
.scheme_bluish .tooltip-inner .desc.small {
	font-size: 70%; /* default font-size: 60%; */
	opacity: 1; /* default opacity: 0.8; */
}
.scheme_bluish .tooltip-inner .desc.small.auto-off {
	color: #da667b;
}
.scheme_bluish .tooltip-inner .desc.small.auto-on {
	color: #77da66;
}
.scheme_bluish .tooltip-divider { /* border line before effects text */
	/* in core.js text-align: center; !important needed */
	/* in core.js width: 100%; !important needed */
	border-bottom: 1px solid #19203e !important; /* in core.js !important needed */
	padding-bottom: 2px !important; /* in core.js padding-bottom: 4px; !important needed */
	margin-bottom: 2px !important; /* in core.js margin-bottom: 8px; !important needed */
	color: #3a57fc !important; /* text centered: Tooltip name */
}
.scheme_bluish .tooltip-divider.resEffectsTxt { /* text centered: res.effects */
	font-size: 14px;
	color: #707070 !important;
	padding-bottom: 0 !important; /* in core.js padding-bottom: 4px; !important needed */
	margin-bottom: 0 !important; /* in core.js margin-bottom: 8px; !important needed */
	margin-top: 4px;
}
.scheme_bluish .effectName { /* Tooltip Window: effects text */
	color: #f6aa5c !important;
	/* default font size = font-size: 14px; */
}
.scheme_bluish .rawRes { /* Tooltip Window == text for all missing resources for primary resource */
    color: #707070;
	font-style: italic;
	padding-left: 12px;
}
.scheme_bluish .button_tooltip .noRes,
.scheme_bluish .limited { /* on ressource limited or not attainable */
	color: #da667b;
}
.scheme_bluish #tooltip .flavor { /* Tooltip Window: last bottom text on center column tooltip window */
    color: #6c91f8;
	font-size: 13px !important; /* in core.js !important needed */
	padding-right: 7px;
}

/* ***************************************************** */
/* ******************* CENTER COLUMN ******************* */
/* ***************************************************** */
/* .scheme_bluish #midColumn { */
	/* default margin-top: 30px; */
	/* default width: 630px */
/* } */
.scheme_bluish .tabInner {
    border: none; /* default border: 1px solid gray; */
	padding: 5px 15px 15px 15px;/* default padding: 15px; */
	/* default margin-bottom: 20px; */
}
.scheme_bluish .tabInner.Workshop {
	padding-bottom: 70px; /* to view entire dropdownlink of last button */ /* default padding: 15px; */
}
.scheme_bluish .tabInner.Bonfire,
.scheme_bluish .tabInner.Trade,
.scheme_bluish .tabInner.Time {
	padding-bottom: 30px; /* default padding: 15px; */
}
.scheme_bluish .tabsContainer {
	padding-bottom: 3px; /* default padding-bottom: 15px; */
	; /* default padding-top: 2px; */
	padding-left: 5px;
	; /* default top: 5px; */
	border-top: none;
}
.scheme_bluish .tabsContainer a {
	font-size: 16px;
}
.scheme_bluish .tabsContainer span:not(.genericWarning),
.scheme_bluish .tabInner div.expandAllBar:not([style*='left']) span { /* separator | for tab and expandAllBar */ /* style*='left' for text: Trade effectiveness +xxx% */
	color: #1f284e;
}
.scheme_bluish .tabsContainer a.activeTab {
	color: #915dfa;
	font-weight: bold;
}
.scheme_bluish span.genericWarning { /* number of kittens free or engineering free on tab */
	color: #da667b;
}
.scheme_bluish .tab.traitLeaderBonus::before {
	content: "\2605\00a0"; /* BLACK STAR */
	color: #6c91f8;
}
.scheme_bluish .tab.engineer::before { /* artisan bonus */
	content: "\2692\00a0"; /* HAMMER AND PICK */
}
.scheme_bluish .tab.metallurgist::before {
	content: "\267B\00a0"; /* BLACK UNIVERSAL RECYCLING SYMBOL */
}
.scheme_bluish .tab.chemist::before {
	content: "\2623\00a0"; /* BIOHAZARD SIGN */
}
.scheme_bluish .tab.merchant::before {
	content: "\2696\00a0"; /* SCALES */
}
.scheme_bluish .tab.manager::before { /* hunting bonus */
	content: "\27B4\00a0"; /* BLACK-FEATHERED SOUTH EAST ARROW */
}
.scheme_bluish .tab.scientist::before {
	content: "\269B\00a0"; /* ATOM SYMBOL */
}
.scheme_bluish .tab.wise::before {
	content: "\2600\00a0"; /* BLACK SUN WITH RAYS */
}
.scheme_bluish div.bldTopContainer a.activeTab {
	color: #915dfa;
	font-weight: bold;
	opacity: 0.75; /* default opacity 0.7 on not hover */
}
.scheme_bluish .bldGroupContainer { /* container for all buttons on center column */
    padding-top: 10px; /* default padding 15px */
	margin-top: 5px; /* default margin 10px */
	border: 1px solid #19203e;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 7px;
}
.scheme_bluish input[type='button'] {
	background-color: #3a57fc !important; /* !important in default.css */
	border: 1px solid #1537fb !important;  /* !important in default.css */
	border-radius: 7px !important; /* !important in default.css */
	box-shadow: inset 0 1px #5f77fd, inset 0 1px 1px #2747fc, inset 1px 0 #2747fc, inset -1px 0 #2747fc !important; /* !important in default.css */
	color: #d3d9f4;
	padding: 5px 20px;
	margin-left: 10px;
	font-size: 15px;
}
.scheme_bluish input[type='button']:hover {
	background-color: #2747fc !important; /* !important in default.css */
	border-color: #0427f2 !important;
	box-shadow: none !important; /* !important in default.css */
	cursor: pointer !important; /* !important in default.css */
}
/* button observer different from other input buttons */
/* .scheme_bluish input[type='button']#observeBtn {	 */
	/* default margin-top: 15px; */
	/* default height: 30px; */
/* } */
/* .scheme_bluish input[type='button']#observeBtn:hover { */
/* } */
/* .scheme_bluish .btn .btnContent a { */
    /* default max-width: 50px; */
    /* default overflow-x: hidden; */
    /* default text-overflow: ellipsis; */
/* } */
.scheme_bluish .btn.modern a {
	font-weight: normal;
	line-height: 16px;
	background-color: transparent;
	padding: 10px 4px 10px 4px !important; /* default:  padding: 10px 6px 10px 6px !important; */
	text-shadow: none;
	border-left: 1px solid transparent; /* default border-left: 1px solid #888; */
	/* default margin: -10px 0; */
	/* default min-width: 20px; */
	color: #715dba;
}
.scheme_bluish .btn.modern a:hover {
	color: #915dfa;
}
.scheme_bluish .btn.modern:not(.disabled) a {
	border-left: 1px solid #19203e;
}
.scheme_bluish .btn.modern.disabled a {
	border-left: 1px solid #13182e;
}
.scheme_bluish .btn.modern:not(.disabled) a:hover {
	background-color: rgba(0, 0, 0, 0.2);
}
.scheme_bluish .btn.modern.disabled a:hover {
	background-color: rgba(0, 0, 0, 0.2);
}
.scheme_bluish .btn.modern:not(.disabled):active,
.scheme_bluish input[type='button']:active,
.scheme_bluish input[type='button']#observeBtn:active {
    border-color: #d3d9f4 !important;
}
.scheme_bluish .linkContent { /* dropdown list on button */
    margin-top: 26px !important; /* for correct vertical align dropdown list */
    width: auto !important;
    border-radius: 0 11px 11px 11px;
	border: solid 1px transparent;
	background: #27325c; /* color pick from button not disabled and hover */
	box-shadow: 0 -1px 1px #27325c, 1px 1px #19203e, -1px 0 #19203e;
}
.scheme_bluish .linkContent a {
    width: 36px !important;
    margin-top: 0 !important;
	margin-bottom: 0 !important;
	border-left: none !important; /* default border-left: 1px solid #888; */
}
.scheme_bluish .btn.modern.disabled .linkContent { /* dropdown list on button disabled */
	background: #1b2342;  /* color pick from button disabled and hover */
	box-shadow: 0 -1px 1px #1b2342, 1px 1px #19203e, -1px 0 #19203e;
}
.scheme_bluish .btn.modern.disabled .linkContent a {
	border-left: none !important;
}
.scheme_bluish .linkContent a:first-child,
.scheme_bluish .linkContent a:first-child:hover {
	border-radius: 0 11px 0 0;
}
.scheme_bluish .linkContent a:last-child,
.scheme_bluish .linkContent a:last-child:hover {
	border-radius: 0 0 11px 11px;
}
/* Apply the right border radius of the button to the rightmost link */
.scheme_bluish .btn.modern span.btnTitle + a,
.scheme_bluish .btn.modern:not(.hasSellLink) a.off1Link, /* link minus on buildings buttons */
.scheme_bluish .btn.modern:not(.hasSellLink) a.unassignLink { /* link minus on kittens jobs buttons */
	/* buttons border-radius: 11px; */
	border-radius: 0 11px 11px 0;
}
.scheme_bluish .btn.modern .btnContent a.rightestLink { /* for Combust TC button in Time tab and Hold Festival in Settlement tab */
	border-radius: 0 11px 11px 0;
}
/* .scheme_bluish .btn .btnContent a.small { */
    /* default font-size: 0.7em; */
    /* default line-height: 16px; */
/* } */
.scheme_bluish .panelContainer {
	/* default margin-top: 8px; */
	min-height: 38px; /* default min-height: 30px; */
	background-color: rgba(0, 0, 0, 0.2);
	border: 1px solid #19203e;
	border-radius: 7px;
}
.scheme_bluish .tabInner.Trade {
	padding: 2px 15px 10px 15px;
}
.scheme_bluish .tabInner.Trade .panelContainer {
	margin-top: 4px; /* default margin-top: 8px; */
}
.scheme_bluish .tabInner.Trade .btn {
	margin-bottom: 3px; /* default margin-bottom: 10px; */
}
.scheme_bluish .tabInner.Trade div[style^='margin-bottom'] {
	margin-bottom: 5px !important; /* default margin-bottom: 15px; */
}
.scheme_bluish .tabInner.Stats table.statTable {
	margin: 5px 10px;
	padding: 10px;
	border-radius: 7px;
}
.scheme_bluish .tabInner.Stats h1:first-of-type {
	color: #f6aa5c;
}
.scheme_bluish .tabInner.Stats table.statTable:first-of-type {
	color: #a6acc7;
	background-color: rgba(0, 0, 0, 0.2);
	border: 1px solid #19203e;
}
.scheme_bluish .tabInner.Stats table.statTable:last-of-type {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), #141936;
    color: #a6acc7;
	border: 1px solid #19203e;
}
.scheme_bluish .panelContainer div.title {
	padding: 4px 4px 4px 20px; /* default padding: 4px; */ /* default padding-left: 10px; */
	margin-bottom: 3px;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), #141936;
	color: #d3d9f4;
	font-size: 16px !important;
	border: 1px solid #0c0f1e;
	border-radius: 7px 7px 0 0;
}
.scheme_bluish .tabInner.Trade .panelContainer div.title {
	padding: 3px 4px 3px 20px;
	margin-bottom: 0;
	font-size: 15px !important;
}
.scheme_bluish .panelContainer .toggle {
	font-size: 16px;
	margin: 5px 5px 0 0; /* default margin: 4px; */
	padding-left: 5px; /* default padding-left 6px */
	padding-right: 5px; /* default padding-right 6px */
	border: none;
	background-color: transparent;
	border-radius: 5px;
	color: #b0b0b0;
}
.scheme_bluish .panelContainer .toggle:hover {
	background: rgba(255, 255, 255, 0.1);
	border-radius: 5px;
	color: #f0f0f0;
}
.scheme_bluish .container {
	padding: 5px; /* default padding: 10px; */
}
.scheme_bluish .container.trade-race {
	padding: 3px 5px 1px 5px; /* default padding: 10px; */
}
.scheme_bluish .container.trade-race .crypto-trade .btn.modern {
	max-width: 127px; /* (button content width - (2 x button border width) - (1 x button margin-right)) / 2 => (266 - 2 -10)/2 = 127 */
}
.scheme_bluish .container div.currentGovernment { /* for padding-bottom too height */
	padding-bottom: 3px !important;
}
/* .scheme_bluish .trade-race > .left { */
    /* default width: 50%; */
/* } */
/* .scheme_bluish .trade-race > .right { */
    /* default width: 50%; */
/* } */
.scheme_bluish .trade-race .buys {
	color: #da667b;
	font-size: smaller;
}
.scheme_bluish .trade-race .sells {
	color: #77da66;
	font-size: smaller;
}
.scheme_bluish .trade-race .tradeAmount {
	color: #707070;
	font-size: smaller;
}
.scheme_bluish .attitude { /* text for attitude races int trade tab */
	/* default font size = font-size: 90%; */
	font-size: 100%;
	color: #6c91f8 !important;
	text-shadow: none !important;
	text-transform: capitalize;
}
.scheme_bluish .attitude:before {
	/* default content: "("; */
	content: "\00a0\21C4\00a0"; /* default content: "("; */ /* RIGHTWARDS ARROW OVER LEFTWARDS ARROW */
	color: #f6aa5c;
	font-weight: bold;
}
.scheme_bluish .attitude:after {
	/* default content: ")"; */
	content: ""; /* default content: ")"; */
}
.scheme_bluish .container.trade-race a[title='Pinned'] {
	color: #77da66;
}
.scheme_bluish .container.trade-race a[title='Pinned']:hover {
	color: #77da66;
}
/* .scheme_bluish .btn.explore { */
    /* default margin-right: 9px; */
/* } */
.scheme_bluish .panelContainer div.censusFilters {
	margin-bottom: 2px; /* for add a margin under the 2 lists (select) in the settlement tab */
}
/* ---------- Village ---------- */
/* container 'Census' -> list of kittens in settlement tab */
.scheme_bluish .census-block {
    padding: 5px 10px; /* default padding: 5px; */
    /* default margin-bottom: 5px; */
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), #141936;
	border: 1px solid #19203e;
	border-radius: 11px;
 	box-shadow: none;
}
.scheme_bluish .census-block:hover {
	box-shadow: 0 0 1px 1px #283463;
}
.scheme_bluish .census-block.simLeader {
	background-color: #20294c;
}
.scheme_bluish .census-block.simLeader a.leaderHref {
	color: #6c91f8;
}
.scheme_bluish .census-block .info { /* info of kitten */
	font-size: 0.9em;
	color: #a6acc7;
}
.scheme_bluish .census-block .skill { /* jobs unasigned */
	color: #707070;
}
.scheme_bluish .census-block .skill:first-of-type { /* job assigned */
	color: #6c91f8;
	font-weight: normal !important;
}
.scheme_bluish .census-block.simLeader .info span.name {  /* Leader name */
	font-size: 1.2em;
}
.scheme_bluish .census-block.simLeader .skill:first-of-type { /* Leader job assigned */
	font-size: 1em; /* default font-size: 0.8em; */
}
.scheme_bluish .container .name.color-none { /* name of kitten */
	color: #8f94ac;
}
.scheme_bluish .container .name.color-brown {
	color: #824b23;
}
.scheme_bluish .container .name.color-cream {
	color: #ad884a;
}
.scheme_bluish .container .name.color-black {
	color: #000000;
}
.scheme_bluish .container .name.color-fawn {
	color: #713306;
}
.scheme_bluish .container .name.color-white {
	color: #ffffff;
}
.scheme_bluish .container .name.variety-none {
	border: 1px solid transparent;
}
.scheme_bluish .container .name.variety-dual { /* bicolore */
	border: 1px solid grey;
}
.scheme_bluish .container .name.variety-tabby { /* tigré  ou rayé */
	border: 1px dashed grey;
}
.scheme_bluish .container .name.variety-torbie { /* marbré strié */
	border: 1px dashed grey;
	border-left: dotted;
	border-right: dotted;
}
.scheme_bluish .container .name.variety-calico { /* tricolore */
	border: 1px solid grey;
	border-top-color: saddlebrown;
	border-bottom-color: peru;
}
.scheme_bluish .container .name.variety-spots { /* tacheté */
	border: 1px dotted grey;
}
.scheme_bluish .btn.modern a.bld-on,
.scheme_bluish .btn.modern a.auto-on,
.scheme_bluish .btn.modern a.fugit-on {
	color: #77da66;
}
.scheme_bluish .btn.modern:not(.disabled):hover a.bld-on,
.scheme_bluish .btn.modern:not(.disabled):hover a.auto-on,
.scheme_bluish .btn.modern:not(.disabled):hover a.fugit-on {
	color: #77da66;
}
.scheme_bluish .btn.modern a.bld-off,
.scheme_bluish .btn.modern a.auto-off,
.scheme_bluish .btn.modern a.fugit-off {
	color: #da667b;
}
.scheme_bluish .btn.modern:not(.disabled):hover a.bld-off,
.scheme_bluish .btn.modern:not(.disabled):hover a.auto-off,
.scheme_bluish .btn.modern:not(.disabled):hover a.fugit-off {
	color: #da667b;
}
.scheme_bluish .btn.modern.craftOn span.btnTitle { /* all buttons with engineer(s) in workshop tab */
	color: #77da66;
}
.scheme_bluish td.craftStuffPanel > span { /* title of craft stuff panel */
	color: #d3d9f4;
	font-size: 15px;
	padding-left: 10px;
}
.scheme_bluish td.craftStuffPanel > table { /* craft stuff panel */
    margin-top: 2px;
    padding: 10px 20px; /* default padding-top: 20px; */
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), #141936;
    color: #a6acc7;
	border: 1px solid #19203e;
	border-radius: 15px;
	box-shadow: none;
}

/* ******************************************************** */
/* ******************* ACHIEVEMENTS TAB ******************* */
/* ******************************************************** */
.scheme_bluish .achievement-header {
	color: #bd5ae0;
	font-size: 18px;
	margin-bottom: 3px;
	padding-left: 30px;
}
.scheme_bluish .achievement {
    padding: 6px 5px 6px 10px; /* default padding: 5px; */
	/* default padding-left: 10px; */
	font-size: 16px;
	margin-bottom: 7px; /* default margin-bottom: 10px; */
	background-color: rgba(0, 0, 0, 0.2);
	color: #bbc4ee;
	letter-spacing: 1px;
	border: solid 1px #19203e;
	border-radius: 7px;
}
.scheme_bluish .achievement:hover {
	background-color: rgba(0, 0, 0, 0.4);
}
.scheme_bluish .achievement:not(.unethical).unlocked:hover {
	border-color: #586cf5;
}
.scheme_bluish .achievement.unethical {
	color: #ce3450;
}
.scheme_bluish .achievement.unethical:hover {
	border-color: #da667b;
}
.scheme_bluish .achievement:not(.unlocked) {
	color: #707070;
}
.scheme_bluish .achievement:not(.unlocked):hover {
	border-color: #707070;
}
.scheme_bluish .achievement:after {
	letter-spacing: normal;
	margin-top: 2px;
	font-size: 90%;
	color: #a6acc7;
	text-shadow: none;
}
@media screen {
	.scheme_bluish .achievement[title]:hover::after{
	  opacity: 0.75; /* default opacity: 0.6; */
	}
  }
.scheme_bluish .achievement-header .star {
	/* default font size = font-size: 18px; */
	color: #f6aa5c;
}
.scheme_bluish .achievement .star {
	/* default font size = font-size: 18px; */
	color: #707070;
	text-shadow: none;
}
.scheme_bluish .achievement.unlocked .star {
	color: #f6aa5c;
}

/* **************************************************** */
/* ******************* RIGHT COLUMN ******************* */
/* **************************************************** */
.scheme_bluish #rightColumn {
    /* default padding-left: 8px; */
	width: calc(50% - 355px);
	max-width: 440px; /* default max-width: 400px; */
    /* default min-width: 250px; */
	top: 30px; /* default top: 20px; */
	/* default margin-top: 4px */
}
.scheme_bluish #toggleCenter,
.scheme_bluish span.toggleCenter {
	color: #715dba;
	opacity: 0.6; /* default opacity: 0.2; */
	cursor: pointer;
}
.scheme_bluish span.toggleCenter {
	opacity: 1; /* for have #toggleCenter same color */
}
.scheme_bluish #toggleCenter:hover,
.scheme_bluish div#toggleCenter:hover > span.toggleCenter {
	color: #915dfa;
	opacity: 1.0;
}
.scheme_bluish #calendarDiv {
    color: #bd5ae0;
	padding-left: 5px;
    margin-top: 5px;
}
.scheme_bluish #calendarSign {
   font-size: 120%;
}
.scheme_bluish #calendarSign:hover {
   cursor: default;
}
.scheme_bluish .right-tab-header { /* Log | Chat link on right column */
	/* default margin-top: 10px; */
	font-size: 80%;
 }
.scheme_bluish .right-tab-header a {
	margin-right: -5px;
	/* default padding: 5px; */
    /* default padding-left: 30px; */
    /* default padding-right: 30px; */
}
.scheme_bluish .right-tab-header a.active {
	border-top: 1px solid #1f284e; /* default border-top: 1px solid rgba(128, 128, 128, 0.4); */
	color: #915dfa;
	font-weight: bold;
}
.scheme_bluish div#observeButton {
	margin-top: 5px; /* default margin-top: 15px */
	height: 35px; /* default height: 30px; */
	margin-bottom: 3px;
}
.scheme_bluish #rightTabChat {
	margin-top: 10px;
}
.scheme_bluish div.console-intro { /* Text on right column: "You are a kitten in a catnip forest." */
	color: #f6aa5c;
	border-top: 1px solid #1f284e !important;
}
.scheme_bluish #clearLogHref { /* Link in right column: Clear log */
	font-size: 85%;
}
.scheme_bluish #logFiltersBlock > a { /* Link in right column: [+]Log Filters */
	font-size: 85%;
	margin-left: 5px;
}
.scheme_bluish #pauseBtn { /* Link in right column: pawse */
	margin-left: 5px;
}
.scheme_bluish #gameLog {
	/* default overflow-y: auto !important; */
	margin: 15px 10px 5px 10px;
	padding: 5px 10px 10px 3px !important;
}
.scheme_bluish #gameLog span.msg:not(.type_date)  {
	margin-left: 1.2em;
	list-style-type: disc;
	padding-left: 0.3em;
}
.scheme_bluish #gameLog span.msg.noBullet {
	margin-left: 2.3em !important;
	list-style-type: '\25B8' !important; /* 	BLACK RIGHT-POINTING SMALL TRIANGLE	*/ /* !important in default.css */
}
.scheme_bluish .msg {
	font-size: 95%;
	font-weight: normal;
	color: #8f94ac;
}
.scheme_bluish .msg.type_notice {
	color: #6c91f8; /* default color: #01A9DB; */
}
.scheme_bluish .msg.type_important {
    color: #f6aa5c; /* default color: coral; */
}
.scheme_bluish .msg.type_alert {
    color: #da667b; /* default color: red; */
}
.scheme_bluish .msg.type_urgent {
	color: #be5ae1; /* default color: blueviolet; */
	font-size: 1.1em;
}
.scheme_bluish .msg.type_date {
	/* default margin-top: 15px; */
	color: #586cf5;
	/* default font-size: 90%; */
	text-transform: none;
	border-bottom: 1px solid #19203e;
	padding-left: 5px;
}

/* *************************************************** */
/* ******************* LEFT COLUMN ******************* */
/* *************************************************** */
.scheme_bluish #leftColumn {
	margin-top: 10px; /* default margin-top: 4px; */
	/* default width: 25%; */
    /* default min-width: 300px; */
	/* default max-width: 400px; */
	padding-right: 10px; /* default padding right: 20px */
}
/* .scheme_bluish a.link { */
    /* default padding-right: 10px; */
/* } */
.scheme_bluish .res-toolbar.right {
	padding-right: 20px;
	/* default margin-right:-18px; */
}
.scheme_bluish a.link.collapse {
	opacity: 0.5; /* default opacity: 0.2; */
}
.scheme_bluish a.link.collapse:hover {
	opacity: 1;/* default opacity: 0.9; */
	color: #915dfa;
}
.scheme_bluish #leftColumn .res-toolbar a.link.toggled {
    color: #3a57fc;
}
.scheme_bluish div.tooltip-block:hover {
	cursor: default;
}
.scheme_bluish div.tooltip-block > span {
	color: #715dba;
}
.scheme_bluish div.tooltip-block:hover > span {
	font-weight: bold;
	color: #915dfa;
}
.scheme_bluish .res-table {
	max-width: 352px;/* default max-width: 340px; */
    border-collapse: collapse; /* gain of 3 pixel by border -> no margin bottom after */
	margin-left: 2px; /* without 0px margin left for all ressources */
 }
/* .scheme_bluish .res-toolbar.left { */
    /* default padding-left: 5px; */
/* } */
/* .scheme_bluish .res-cell { */
	/* default padding-left: 2px; */
    /* default padding-right: 2px; */
/* } */
.scheme_bluish .craftTable {
	margin-bottom: 60px !important; /* for correct margin bottom due of the line above with border-collapse: collapse on .res-Table ! */
	/* default padding-bottom: 50px; */
 }
.scheme_bluish .res-cell.craft-link {
	color: #715dba;
	/* default width: 20px; */
	/* default max-width: 60px; */
 }
/* .scheme_bluish .res-cell.craft-link .plusPrefix { */
    /* default font-size: 80%; */
/* } */
.scheme_bluish .res-cell.craft-link.all { /* column craft all */
	font-size: 95%; /* default font-size: 85%; */
	opacity: 1; /* default opacity: 0.4; */
	color: #707070;
}
.scheme_bluish .res-cell.craft-link:hover,
.scheme_bluish .res-cell.craft-link.all:hover { /* craft table left column */
    color: #915dfa;
	text-decoration: none;
	text-shadow: none;
	font-weight: bold;
	opacity: 1;
}
.scheme_bluish .res-row {
	padding-bottom: 2px; /* default padding-bottom: 4px; */
}
.scheme_bluish .res-row:hover {
	background:  rgba(0, 0, 0, 0.3);
	cursor: default;
}
.scheme_bluish .highlited { /* higlighting ressources when hover button on center windows */
	background:  rgba(0, 0, 0, 0.3);
}
.scheme_bluish .res-toolbar {
	white-space: nowrap;
}
/* .scheme_bluish div.res-cell.resource-name {  */
	/* default width: 60px; */
	/* default max-width: 85px; */
/* } */
.scheme_bluish .maxRes,
.scheme_bluish .resAmount,
.scheme_bluish .resPerTick,
.scheme_bluish .res-cell.resource-value,
.scheme_bluish .craftTable {
	font-family: 'Source Sans Pro', sans-serif;
}
.scheme_bluish .resource_faith .resource-name,
.scheme_bluish .resource_kittens .resource-name,
.scheme_bluish .resource_steel .resource-name,
.scheme_bluish .resource_gear .resource-name,
.scheme_bluish .resource_alloy .resource-name,
.scheme_bluish .resource_megalith .resource-name {
	color: #707070 !important;
}
.scheme_bluish .resource_paragon .resource-name {
	color: #6141cd !important;
}
.scheme_bluish .resource_burnedParagon .resource-name {
	color: #4b2dad !important;
}
.scheme_bluish .resource_antimatter .resource-name,
.scheme_bluish .resource_relic .resource-name,
.scheme_bluish .resource_void .resource-name {
	color: #7557e8 !important;
}
.scheme_bluish .resource_unobtainium .resource-name {
	color: #d5000f !important;
}
.scheme_bluish .resource_eludium .resource-name {
	color: #b003ff !important;
}
.scheme_bluish .resource_unicorns .resource-name,
.scheme_bluish .resource_alicorn .resource-name,
.scheme_bluish .resource_tears .resource-name,
.scheme_bluish .resource_karma .resource-name {
	color: #df9000 !important;
	text-shadow: none !important;
}
.scheme_bluish .maxRes {
	color: #68708b;
}
.scheme_bluish .resAmount {
    color: #8f94ac;
}
.scheme_bluish .resLimitWarn {
	color: #f6aa5c;
	opacity: 1; /* default opacity: 0.75 */
	font-style: italic;
}
.scheme_bluish .resLimitNotice {
	color: #586cf5;
}
.scheme_bluish .resPerTick {
	cursor: default;
	color: #8f94ac;
}
.scheme_bluish .res-row.resLeaderBonus .resPerTick {
	color: #6c91f8;
}
.scheme_bluish .res-row.craftEngineer .res-cell.resource-value {
	color: #77da66;
}
.scheme_bluish div#advisorsContainer {
	color: #da667b;
	/* default padding-top: 10px; */
}
.scheme_bluish .res-cell.resource-value {
	/* default width: 75px; */
	/* default max-width: 90px; */
	color: #8f94ac;
}
.scheme_bluish #fastHuntContainerCount { /* Text left column: "xx times" from Send hunters */
	color: #707070;
	text-shadow: none !important;
}
.scheme_bluish .res-cell.positive-weather { /* to change the color for bonus cell according to the season */
	color: #77da66;
	font-size: 90%;
}
.scheme_bluish .res-cell.negative-weather { /* to change the color for penalty cell according to the season */
	color: #da667b;
	font-size: 90%;
}

/* ************************************************* */
/* ******************* SCROLLBAR ******************* */
/* ************************************************* */
.scheme_bluish ::-webkit-scrollbar-track,
.scheme_bluish .dialog::-webkit-scrollbar-track,
.scheme_bluish textarea#importData::-webkit-scrollbar-track,
.scheme_bluish textarea#exportData::-webkit-scrollbar-track {
	border-radius: 0;
	background-color: transparent;
}
.scheme_bluish ::-webkit-scrollbar {
	width: 8px;
	border-radius: 0;
	background-color: transparent;
}
.scheme_bluish .dialog::-webkit-scrollbar {
	width: 10px;
	border-radius: 0;
	background-color: transparent;
}
.scheme_bluish textarea#importData::-webkit-scrollbar,
.scheme_bluish textarea#exportData::-webkit-scrollbar {
	width: 10px;
	border-radius: 0;
	background-color: rgba(255, 255, 255, 0.1);
}
.scheme_bluish ::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.1);
}
.scheme_bluish .dialog::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.3);
}
.scheme_bluish textarea#importData::-webkit-scrollbar-thumb,
.scheme_bluish textarea#exportData::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.6);
}
.scheme_bluish #gameLog::-webkit-scrollbar {
	width: 6px;
}
.scheme_bluish #gameLog::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.1);
}
/* Only FireFox */
.scheme_bluish #leftColumn,
.scheme_bluish #rightColumn,
.scheme_bluish #midColumn,
.scheme_bluish .dialog,
.scheme_bluish textarea#importData,
.scheme_bluish textarea#exportData,
.scheme_bluish #gameLog {
	scrollbar-width: thin;
}
.scheme_bluish #leftColumn,
.scheme_bluish #rightColumn,
.scheme_bluish #midColumn {
	scrollbar-color: rgba(0, 0, 0, 0.1) transparent !important;
}
.scheme_bluish .dialog {
	scrollbar-color: rgba(0, 0, 0, 0.3) transparent !important;
}
.scheme_bluish textarea#importData,
.scheme_bluish textarea#exportData {
	scrollbar-color: rgba(0, 0, 0, 0.5) rgba(255, 255, 255, 0.1) !important;
}
.scheme_bluish select {
   scrollbar-width: auto !important;
}
