/* ************************************************************* */
/* ***			Grayish 1.0.0 Theme © Volkeyrn               *** */
/* ************************************************************* */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:ital,wght@300,400,600,700,300italic,400italic,600italic,700italic,&display=swap);
@import url(https://fonts.googleapis.com/css?family=Cabin:ital,wght@400,600,700,400italic,600italic,700italic,&display=swap);

/* ******************************************** */
/* ******************* GAME ******************* */
/* ******************************************** */

body.scheme_grayish {
	background-color: #f2f2f2;
}
.scheme_grayish #gamePageContainer,
.scheme_grayish select,
.scheme_grayish .btn,
.scheme_grayish .modern,
.scheme_grayish .btn.modern,
.scheme_grayish input[type='button'] {
	font-family: 'Cabin', sans-serif;
}
.scheme_grayish .btn {
	color: gray;
	margin-bottom: 6px; /* default margin-bottom: 10px; */
	background-color: transparent;
	border: solid 1px transparent;
    /* default padding: 5px; */
	/* default width: 170px; */
	max-height: 36px;
}
.scheme_grayish .btn.modern {
	/* default font-size: 14px; */
	/* default font-family: Helvetica; */
    /* default border: solid 1px transparent; */
    /* default padding: 0; */
	border-radius: 11px;/* default border-radius: 3px; */
	width: 266px; /* default width: 264px; */
}
.scheme_grayish .btn.modern.disabled {
	border: solid 1px #b3b3b3;
	background: #cbcbcb;
}
.scheme_grayish .btn.modern.disabled:hover {
	box-shadow: 0 0 4px 1px rgba(80, 80, 80, 0.2);
}
.scheme_grayish .btn.modern.disabled span.btnTitle { /* to change only the properties of the button name for buttons disabled */
	color: #606060;
}
.scheme_grayish .btn.modern.disabled span.btnTitle.limited { /* to change only the properties of the button name for buttons limited */
	color: #c82318;
}
.scheme_grayish .btn.modern:not(.disabled) {
	border: solid 1px #c3c3c3;
	background:	#ebebeb;
}
.scheme_grayish .btn.modern:not(.disabled):hover {
	background: #f6f6f6;
	box-shadow: 0 0 4px 1px rgba(80, 80, 80, 0.2);
}
.scheme_grayish .btn.modern:not(.disabled) span.btnTitle { /* to change only the properties of the button name for buttons enabled */
	color: #343434;
}
.scheme_grayish a {
	color: #646464;
}
.scheme_grayish a,
.scheme_grayish .craft-link {
    text-decoration: none;
}
.scheme_grayish a:hover {
	color: #343434;
	opacity: 1.0; /* default opacity: 0.6 */
}
.scheme_grayish div {
	color: #2c2c2c;
}
.scheme_grayish .disabled div { /* color text for disabled */
	color: #4b5373;
}
.scheme_grayish h1 {
	/* default margin-top: 30px; */
	font-size: 18px; /* default font size = font-size: 12px; */
	text-transform: capitalize;
	color: #ff589c;
	padding-left: 20px;
	margin-bottom: 8px;
}
.scheme_grayish h1:first-child {
    margin-top: 15px;
}
/* .scheme_grayish .btn.modern.small-text { */
	/* default font-size: 90%; */
/* } */
.scheme_grayish .modern .btnContent {
    padding: 10px 0 10px 1px; /* 1px left for buttons without power background-image */
}
/* *** green and red light for machine on/off *** */
.scheme_grayish .btn.bldEnabled div.btnContent,
.scheme_grayish .btn.bldlackResConvert div.btnContent {
	padding: 10px 0 10px 17px; /* 17px left for power background-image */
	border: none; /* also allows you to remove the height difference with the other buttons (they have no border on div.content) */
}
.scheme_grayish .btn.disabled.bldlackResConvert { /* color for lack resources convertion */
	background: no-repeat padding-box linear-gradient(90deg, #c82318 0%, #c82318 12px, transparent 15px, transparent 100%), #cbcbcb;
}
.scheme_grayish .btn.disabled.bldlackResConvert:hover {
	background: no-repeat padding-box linear-gradient(90deg, #c82318 0%, #c82318 12px, transparent 15px, transparent 100%), #cbcbcb;
}
.scheme_grayish .btn:not(.disabled).bldlackResConvert {
	background: no-repeat padding-box linear-gradient(90deg, #c82318 0%, #c82318 12px, transparent 15px, transparent 100%), #ebebeb;
}
.scheme_grayish .btn:not(.disabled).bldlackResConvert:hover {
	background: no-repeat padding-box linear-gradient(90deg, #c82318 0%, #c82318 12px, transparent 15px, transparent 100%), #f6f6f6;
}
.scheme_grayish .btn.disabled.bldEnabled {
	background: no-repeat padding-box linear-gradient(90deg, #599d00 0%, #599d00 12px, transparent 15px, transparent 100%), #cbcbcb;
}
.scheme_grayish .btn.disabled.bldEnabled:hover {
	background: no-repeat padding-box linear-gradient(90deg, #599d00 0%, #599d00 12px, transparent 15px, transparent 100%), #cbcbcb;
}
.scheme_grayish .btn:not(.disabled).bldEnabled {
	background: no-repeat padding-box linear-gradient(90deg, #599d00 0%, #599d00 12px, transparent 15px, transparent 100%), #ebebeb;
}
.scheme_grayish .btn:not(.disabled).bldEnabled:hover {
	background: no-repeat padding-box linear-gradient(90deg, #599d00 0%, #599d00 12px, transparent 15px, transparent 100%), #f6f6f6;
}
/* *** end of green light for machine on/off *** */
.scheme_grayish .dialog {
	/* default left: 50%; */
	/* default top: 50%; */
	/* default padding: 20px; */
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), #f2f2f2;
	border: 2px solid #343434;
	border-radius: 7px;
	box-shadow: 0 -1px #848484, 0 0 1px 2px #242424;
}
.scheme_grayish .dialog a {
	text-transform: capitalize;
}
.scheme_grayish label i { /* information text in option windows */
    /* default font size = font-size: 90%; */
	color: #606060;
	opacity: 0.8;
}
.scheme_grayish label:hover {
	opacity: 1;/* default opacity: 0.7; */
	color: #ff589c;
}
.scheme_grayish label:hover i {
	text-shadow: none;
}
.scheme_grayish select { /* dropdown list on settlement tab and options windows */ /* 226d38 */
	background-color: #343434;
	color: #f2f2f2;
	border: 1px solid #1c1c1c;
	border-radius: 7px;
	box-shadow: inset 1px 0 2px #848484, inset 0 1px #242424, inset 0 -1px #242424, inset -1px 0 3px #242424;
	font-size: 14px;
	margin-left: 3px;
}
.scheme_grayish select:hover { /* dropdown list on settlement tab and options windows */
	background-color: #2c2c2c;
	border-color: #141414;
	box-shadow: none;
}
.scheme_grayish select>option {
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), #f2f2f2;
    color: #2c2c2c;
	padding: 2px 10px; /* -2 pixel vertical */
}
.scheme_grayish select > option:disabled {
	color: #707070;
	font-size: 90%;
}
.scheme_grayish #optionsDiv input[type="checkbox"] + label:before {
    content: "\25CB"; /* WHITE CIRCLE */
	font: 16px sans-serif;
	color: #707070;
	text-shadow: 0 0 1px #000000;
}
.scheme_grayish #optionsDiv input[type="checkbox"]:checked + label:before {
	content: "\25CF"; /* BLACK CIRCLE */
	font: 16px sans-serif;
	color: #ff589c;
	text-shadow: 0 0 1px #000000;
}
.scheme_grayish .dialog input[type="button"] {
	margin-left: 17px;
	margin-bottom: 10px;
}
.scheme_grayish .dialog input#batchSize {
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), #f2f2f2;
	color: #2c2c2c;
	border: 1px inset #a3a3a3;
	border-radius: 7px;
	padding: 3px 1px 3px 5px;
    margin-right: 5px;
	margin-top: 3px;
	margin-bottom: 3px;
}
.scheme_grayish textarea#importData,
.scheme_grayish textarea#exportData {
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), #f2f2f2;
	color: #2c2c2c;
	border: 1px inset #a3a3a3;
	border-radius: 7px;
	padding: 5px;
	margin-bottom: 3px;
}
.scheme_grayish input:active,
.scheme_grayish select:active,
.scheme_grayish textarea:active {
    border-color: #d3d9f4 !important;
}

/* *********************************************** */
/* ******************* TOP BAR ******************* */
/* *********************************************** */
.scheme_grayish #topBar {
    height: 28px; /* default height: 26px; */
	top: 0; /* for no shadow on top */
	box-shadow: none; /* default box-shadow: 1px 0px 2px #888; */
	border-bottom: 1px solid #a3a3a3;
	background-color: rgba(160, 160, 160, 0.1);
	/* default min-width: 1180px; */
}
/* .scheme_grayish #topBar a {
    /* default padding-left: 2px; */
	/* default padding-right: 2px; */
/* } */
.scheme_grayish #topBar a.copyright {
	color: #c82318;
}
.scheme_grayish #topBar a.copyright:hover {
	color: #343434;
}
.scheme_grayish #headerLinks .links-block { /* a link separator: | on header links */
	color: #e2e2e2;
}
.scheme_grayish #topBar div,
.scheme_grayish #topBar #sorrowTooltip { /* counter of BLS (Black Liquid Sorrow) */
	color: #2c2c2c;
}
.scheme_grayish #sorrowTooltip.max {
    color: #c82318 !important; /* in default.js !important needed */
}
.scheme_grayish #topBar > div:first-child > span:first-child:after {
    color: #ff589c;
    content: '\00a0\00a0\00a0Theme by Volkeyrn\00a0\00a0\00a0';
    text-decoration: none;
	font-weight: normal;
}
.scheme_grayish #autosaveTooltip {
	color: #ff589c;
}
.scheme_grayish #getTheApp-link { /* Get the app */
	color: #ff589c !important;
}
.scheme_grayish #getTheApp-link:hover {
	color: #343434 !important;
}
.scheme_grayish .links-block {
	padding-top: 5px !important;
}
.scheme_grayish .toolbarIcon.happiness {
    color: #ff8158;
}
.scheme_grayish .toolbarIcon.energy,
.scheme_grayish .button_tooltip .energyProduction {
    color: #599d00;
}
.scheme_grayish .toolbarIcon.energy.warningWinter {
    color: #ff8158;
}
.scheme_grayish .toolbarIcon.energy.warning,
.scheme_grayish .button_tooltip .energyConsumption {
	color: #c82318;
}
.scheme_grayish .button_tooltip .energyPenalty {
	color: #c82318;
}

/* ********************************************** */
/* ******************* FOOTER ******************* */
/* ********************************************** */
.scheme_grayish #footerLinks {
	font-size: 90%;
	bottom: 3px; /* default bottom: 10px; */
	/* default right: 5px; */
	color: #e2e2e2; /* a link separator: | on footer links */
}

/* *********************************************** */
/* ******************* TOOLTIP ******************* */
/* *********************************************** */
/* .scheme_grayish .tooltip-inner {
	/* default width: 280px; */
	/* font-size: 13px; /* for center tooltip except title, effects and flavor */
/* } */
.scheme_grayish #tooltip,
.scheme_grayish .tooltip-block div {
	/* default padding-left: 3px; */
	padding-bottom: 5px;
	background: linear-gradient(90deg, rgba(64, 64, 64, 0.1), rgba(64, 64, 64, 0.1)), #f2f2f2;
	color: #515151; /* tooltip windows == left column: left text */
	border: 1px solid #838383;
	border-radius: 7px;
	/* margin-left: 20px; /* for offset tooltip due to larger buttons .btn.modern */
}
.scheme_grayish .tooltip-block div { /* tooltip on ? top right column */
	padding: 5px;
}
.scheme_grayish .button_tooltip {
	background-color: transparent;
}
.scheme_grayish .button_tooltip div { /* tooltip window == left column: right text | center column:highlighting text */
	color: #2c2c2c;
}
.scheme_grayish .tooltip-inner .desc { /* Tooltip Window: title text */
    color: #2c2c2c;
	/* default font size = font-size: 15px; */
	border-bottom: 1px solid #a3a3a3 !important; /* in core.js !important needed */
	/* default padding-top: 4px; */
	margin-bottom: 5px;
}
.scheme_grayish .tooltip-inner .desc.small {
	font-size: 70%; /* default font-size: 60%; */
	opacity: 1; /* default opacity: 0.8; */
}
.scheme_grayish .tooltip-inner .desc.small.auto-off {
	color: #c82318;
}
.scheme_grayish .tooltip-inner .desc.small.auto-on {
	color: #599d00;
}
.scheme_grayish .tooltip-divider { /* border line before effects text */
	/* in core.js text-align: center; !important needed */
	/* in core.js width: 100%; !important needed */
	border-bottom: 1px solid #a3a3a3 !important; /* in core.js !important needed */
	padding-bottom: 2px !important; /* in core.js padding-bottom: 4px; !important needed */
	margin-bottom: 2px !important; /* in core.js margin-bottom: 8px; !important needed */
	color: #5c5c5c !important; /* text centered: Tooltip name */
}
.scheme_grayish .tooltip-divider.resEffectsTxt { /* text centered: res.effects */
	font-size: 14px;
	color: #707070 !important;
	padding-bottom: 0 !important; /* in core.js padding-bottom: 4px; !important needed */
	margin-bottom: 0 !important; /* in core.js margin-bottom: 8px; !important needed */
	margin-top: 4px;
}
.scheme_grayish .effectName { /* Tooltip Window: effects text */
	color: #1867c8 !important;
	/* default font size = font-size: 14px; */
}
.scheme_grayish .rawRes { /* Tooltip Window == text for all missing resources for primary resource */
    color: #707070;
	font-style: italic;
	padding-left: 12px;
}
.scheme_grayish .button_tooltip .noRes,
.scheme_grayish .limited { /* on ressource limited or not attainable */
	color: #c82318;
}
.scheme_grayish #tooltip .flavor { /* Tooltip Window: last bottom text on center column tooltip window */
    color: #ff589c;
	font-size: 13px !important; /* in core.js !important needed */
	padding-right: 7px;
}

/* ***************************************************** */
/* ******************* CENTER COLUMN ******************* */
/* ***************************************************** */
/* .scheme_grayish #midColumn { */
	/* default margin-top: 30px; */
	/* default width: 630px */
/* } */
.scheme_grayish .tabInner {
    border: none; /* default border: 1px solid gray; */
	padding: 5px 15px 15px 15px;/* default padding: 15px; */
	/* default margin-bottom: 20px; */
}
.scheme_grayish .tabInner.Workshop {
	padding-bottom: 70px; /* to view entire dropdownlink of last button */ /* default padding: 15px; */
}
.scheme_grayish .tabInner.Bonfire,
.scheme_grayish .tabInner.Trade,
.scheme_grayish .tabInner.Time {
	padding-bottom: 30px; /* default padding: 15px; */
}
.scheme_grayish .tabsContainer {
	padding-bottom: 3px; /* default padding-bottom: 15px; */
	; /* default padding-top: 2px; */
	padding-left: 5px;
	; /* default top: 5px; */
	border-top: none;
}
.scheme_grayish .tabsContainer a {
	font-size: 16px;
}
.scheme_grayish .tabsContainer span:not(.genericWarning),
.scheme_grayish .tabInner div.expandAllBar:not([style*='left']) span { /* separator | for tab and expandAllBar */ /* style*='left' for text: Trade effectiveness +xxx% */
	color: #e2e2e2;
}
.scheme_grayish .tabsContainer a.activeTab {
	color: #343434;
	font-weight: bold;
}
.scheme_grayish span.genericWarning { /* number of kittens free or engineering free on tab */
	color: #c82318;
}
.scheme_grayish .tab.traitLeaderBonus::before {
	content: "\2605\00a0"; /* BLACK STAR */
	color: #1867c8;
}
.scheme_grayish .tab.engineer::before { /* artisan bonus */
	content: "\2692\00a0"; /* HAMMER AND PICK */
}
.scheme_grayish .tab.metallurgist::before {
	content: "\267B\00a0"; /* BLACK UNIVERSAL RECYCLING SYMBOL */
}
.scheme_grayish .tab.chemist::before {
	content: "\2623\00a0"; /* BIOHAZARD SIGN */
}
.scheme_grayish .tab.merchant::before {
	content: "\2696\00a0"; /* SCALES */
}
.scheme_grayish .tab.manager::before { /* hunting bonus */
	content: "\27B4\00a0"; /* BLACK-FEATHERED SOUTH EAST ARROW */
}
.scheme_grayish .tab.scientist::before {
	content: "\269B\00a0"; /* ATOM SYMBOL */
}
.scheme_grayish .tab.wise::before {
	content: "\2600\00a0"; /* BLACK SUN WITH RAYS */
}
.scheme_grayish div.bldTopContainer a.activeTab {
	color: #343434;
	font-weight: bold;
	opacity: 0.75; /* default opacity 0.7 on not hover */
}
.scheme_grayish .bldGroupContainer { /* container for all buttons on center column */
    padding-top: 10px; /* default padding 15px */
	margin-top: 5px; /* default margin 10px */
	border: 1px solid #a3a3a3;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 7px;
}
.scheme_grayish input[type='button'] {
	background-color: #343434 !important; /* !important in default.css */
	border: 1px solid #1c1c1c !important;  /* !important in default.css */
	border-radius: 7px !important; /* !important in default.css */
	box-shadow: inset 0 1px #848484, inset 0 1px 1px #242424, inset 1px 0 #242424, inset -1px 0 #242424 !important; /* !important in default.css */
	color: #f2f2f2;
	padding: 5px 20px;
	margin-left: 10px;
	font-size: 15px;
}
.scheme_grayish input[type='button']:hover {
	background-color: #242424 !important; /* !important in default.css */
	border-color: #141414 !important;
	box-shadow: none !important; /* !important in default.css */
	cursor: pointer !important; /* !important in default.css */
}
/* button observer different from other input buttons */
/* .scheme_grayish input[type='button']#observeBtn {	 */
	/* default margin-top: 15px; */
	/* default height: 30px; */
/* } */
/* .scheme_grayish input[type='button']#observeBtn:hover { */
/* } */
/* .scheme_grayish .btn .btnContent a { */
    /* default max-width: 50px; */
    /* default overflow-x: hidden; */
    /* default text-overflow: ellipsis; */
/* } */
.scheme_grayish .btn.modern a {
	font-weight: normal;
	line-height: 16px;
	background-color: transparent;
	padding: 10px 4px 10px 4px !important; /* default:  padding: 10px 6px 10px 6px !important; */
	text-shadow: none;
	border-left: 1px solid transparent; /* default border-left: 1px solid #888; */
	/* default margin: -10px 0; */
	/* default min-width: 20px; */
	color: #646464;
}
.scheme_grayish .btn.modern a:hover {
	color: #343434;
}
.scheme_grayish .btn.modern:not(.disabled) a {
	border-left: 1px solid #c3c3c3;
}
.scheme_grayish .btn.modern.disabled a {
	border-left: 1px solid #b3b3b3;
}
.scheme_grayish .btn.modern:not(.disabled) a:hover {
	background-color: rgba(80, 80, 80, 0.1);
}
.scheme_grayish .btn.modern.disabled a:hover {
	background-color: rgba(255, 255, 255, 0.3);
}
.scheme_grayish .btn.modern:not(.disabled):active,
.scheme_grayish input[type='button']:active,
.scheme_grayish input[type='button']#observeBtn:active {
    border-color: #ffffff !important;
}
.scheme_grayish .linkContent { /* dropdown list on button */
    margin-top: 26px !important; /* for correct vertical align dropdown list */
    width: auto !important;
    border-radius: 0 11px 11px 11px;
	border: solid 1px transparent;
	background: #f6f6f6; /* color pick from button not disabled and hover */
	box-shadow: 0 -1px 1px #f6f6f6, 1px 1px #c3c3c3, -1px 0 #c3c3c3;
}
.scheme_grayish .linkContent a {
    width: 36px !important;
    margin-top: 0 !important;
	margin-bottom: 0 !important;
	border-left: none !important; /* default border-left: 1px solid #888; */
}
.scheme_grayish .btn.modern.disabled .linkContent { /* dropdown list on button disabled */
	background: #cbcbcb;  /* color pick from button disabled and hover */
	box-shadow: 0 -1px 1px #cbcbcb, 1px 1px #b3b3b3, -1px 0 #b3b3b3;
}
.scheme_grayish .btn.modern.disabled .linkContent a {
	border-left: none !important;
}
.scheme_grayish .linkContent a:first-child,
.scheme_grayish .linkContent a:first-child:hover {
	border-radius: 0 11px 0 0;
}
.scheme_grayish .linkContent a:last-child,
.scheme_grayish .linkContent a:last-child:hover {
	border-radius: 0 0 11px 11px;
}
/* Apply the right border radius of the button to the rightmost link */
.scheme_grayish .btn.modern span.btnTitle + a,
.scheme_grayish .btn.modern:not(.hasSellLink) a.off1Link, /* link minus on buildings buttons */
.scheme_grayish .btn.modern:not(.hasSellLink) a.unassignLink { /* link minus on kittens jobs buttons */
	/* buttons border-radius: 11px; */
	border-radius: 0 11px 11px 0;
}
.scheme_grayish .btn.modern .btnContent a.rightestLink { /* for Combust TC button in Time tab and Hold Festival in Settlement tab */
	border-radius: 0 11px 11px 0;
}
/* .scheme_grayish .btn .btnContent a.small { */
    /* default font-size: 0.7em; */
    /* default line-height: 16px; */
/* } */
.scheme_grayish .panelContainer {
	/* default margin-top: 8px; */
	min-height: 38px; /* default min-height: 30px; */
	background-color: rgba(0, 0, 0, 0.2);
	border: 1px solid #a3a3a3;
	border-radius: 7px;
}
.scheme_grayish .tabInner.Trade {
	padding: 2px 15px 10px 15px;
}
.scheme_grayish .tabInner.Trade .panelContainer {
	margin-top: 4px; /* default margin-top: 8px; */
}
.scheme_grayish .tabInner.Trade .btn {
	margin-bottom: 3px; /* default margin-bottom: 10px; */
}
.scheme_grayish .tabInner.Trade div[style^='margin-bottom'] {
	margin-bottom: 5px !important; /* default margin-bottom: 15px; */
}
.scheme_grayish .tabInner.Stats table.statTable {
	margin: 5px 10px;
	padding: 10px;
	border-radius: 7px;
}
.scheme_grayish .tabInner.Stats h1:last-of-type {
	color: #343434;
}
.scheme_grayish .tabInner.Stats table.statTable:first-of-type {
	color: #343434;
	background-color: rgba(0, 0, 0, 0.2);
	border: 1px solid #a3a3a3;
}
.scheme_grayish .tabInner.Stats table.statTable:last-of-type {
    background: #343434;
    color: #b3b3b3;
	border: 1px solid #242424;
}
.scheme_grayish .panelContainer div.title {
	padding: 4px 4px 4px 20px; /* default padding: 4px; */ /* default padding-left: 10px; */
	margin-bottom: 3px;
	background: #343434;
	color: #f2f2f2;
	font-size: 16px !important;
	border: 1px solid #242424;
	border-radius: 7px 7px 0 0;
	box-shadow: 1px 0 #343434, -1px 0 #343434, 0 1px 1px #242424;
}
.scheme_grayish .tabInner.Trade .panelContainer div.title {
	padding: 3px 4px 3px 20px;
	margin-bottom: 0;
	font-size: 15px !important;
}
.scheme_grayish .panelContainer .toggle {
	font-size: 16px;
	margin: 5px 5px 0 0; /* default margin: 4px; */
	padding-left: 5px; /* default padding-left 6px */
	padding-right: 5px; /* default padding-right 6px */
	border: none;
	background-color: transparent;
	border-radius: 5px;
	color: #b0b0b0;
}
.scheme_grayish .panelContainer .toggle:hover {
	background: rgba(255, 255, 255, 0.1);
	border-radius: 5px;
	color: #f0f0f0;
}
.scheme_grayish .container {
	padding: 5px; /* default padding: 10px; */
}
.scheme_grayish .container.trade-race {
	padding: 3px 5px 1px 5px; /* default padding: 10px; */
}
.scheme_grayish .container.trade-race .crypto-trade .btn.modern {
	max-width: 127px; /* (button content width - (2 x button border width) - (1 x button margin-right)) / 2 => (266 - 2 -10)/2 = 127 */
}
.scheme_grayish .container div.currentGovernment { /* for padding-bottom too height */
	padding-bottom: 3px !important;
}
/* .scheme_grayish .trade-race > .left { */
    /* default width: 50%; */
/* } */
/* .scheme_grayish .trade-race > .right { */
    /* default width: 50%; */
/* } */
.scheme_grayish .trade-race .buys {
	color: #c82318;
	font-size: smaller;
}
.scheme_grayish .trade-race .sells {
	color: #599d00;
	font-size: smaller;
}
.scheme_grayish .trade-race .tradeAmount {
	color: #606060;
	font-size: smaller;
}
.scheme_grayish .attitude { /* text for attitude races int trade tab */
	/* default font size = font-size: 90%; */
	font-size: 100%;
	color: #a3a3a3 !important;
	text-shadow: none !important;
	text-transform: capitalize;
}
.scheme_grayish .attitude:before {
	/* default content: "("; */
	content: "\00a0\21C4\00a0"; /* default content: "("; */ /* RIGHTWARDS ARROW OVER LEFTWARDS ARROW */
	color: #ff8158;
	font-weight: bold;
}
.scheme_grayish .attitude:after {
	/* default content: ")"; */
	content: ""; /* default content: ")"; */
}
.scheme_grayish .container.trade-race a[title='Pinned'] {
	color: #599d00;
	font-weight: bold;
}
.scheme_grayish .container.trade-race a[title='Pinned']:hover {
	color: #599d00;
}
/* .scheme_grayish .btn.explore { */
    /* default margin-right: 9px; */
/* } */
.scheme_grayish .panelContainer div.censusFilters {
	margin-bottom: 2px; /* for add a margin under the 2 lists (select) in the settlement tab */
}
/* ---------- Village ---------- */
/* container 'Census' -> list of kittens in settlement tab */
.scheme_grayish .census-block {
    padding: 5px 10px; /* default padding: 5px; */
    /* default margin-bottom: 5px; */
    background: #cbcbcb;
	border: 1px solid #a3a3a3;
	border-radius: 11px;
 	box-shadow: none;
}
.scheme_grayish .census-block:hover {
	border-color: #707070;
}
.scheme_grayish .census-block.simLeader {
	background-color: #ebebeb;
}
.scheme_grayish .census-block.simLeader a.leaderHref {
	color: #1867c8;
}
.scheme_grayish .census-block .info { /* info of kitten */
	font-size: 0.9em;
	color: #2c2c2c;
}
.scheme_grayish .census-block .skill { /* jobs unasigned */
	color: #707070;
}
.scheme_grayish .census-block .skill:first-of-type { /* job assigned */
	color: #1867c8;
	font-weight: normal !important;
}
.scheme_grayish .census-block.simLeader .info span.name {  /* Leader name */
	font-size: 1.2em;
}
.scheme_grayish .census-block.simLeader .skill:first-of-type { /* Leader job assigned */
	font-size: 1em; /* default font-size: 0.8em; */
}
.scheme_grayish .container .name.color-none { /* name of kitten */
	color: #4c4c4c;
}
.scheme_grayish .container .name.color-brown {
	color: #824b23;
}
.scheme_grayish .container .name.color-cream {
	color: #ad884a;
	text-shadow: 0 0 1px #000000;
}
.scheme_grayish .container .name.color-black {
	color: #000000;
}
.scheme_grayish .container .name.color-fawn {
	color: #713306;
}
.scheme_grayish .container .name.color-white {
	color: #ffffff;
	text-shadow: 0 0 2px #000000;
}
.scheme_grayish .container .name.variety-none {
	border: 1px solid transparent;
}
.scheme_grayish .container .name.variety-dual { /* bicolore */
	border: 1px solid grey;
}
.scheme_grayish .container .name.variety-tabby { /* tigré  ou rayé */
	border: 1px dashed grey;
}
.scheme_grayish .container .name.variety-torbie { /* marbré strié */
	border: 1px dashed grey;
	border-left: dotted;
	border-right: dotted;
}
.scheme_grayish .container .name.variety-calico { /* tricolore */
	border: 1px solid grey;
	border-top-color: saddlebrown;
	border-bottom-color: peru;
}
.scheme_grayish .container .name.variety-spots { /* tacheté */
	border: 1px dotted grey;
}
.scheme_grayish .btn.modern a.bld-on,
.scheme_grayish .btn.modern a.auto-on,
.scheme_grayish .btn.modern a.fugit-on {
	color: #599d00;
}
.scheme_grayish .btn.modern:not(.disabled):hover a.bld-on,
.scheme_grayish .btn.modern:not(.disabled):hover a.auto-on,
.scheme_grayish .btn.modern:not(.disabled):hover a.fugit-on {
	color: #599d00;
}
.scheme_grayish .btn.modern a.bld-off,
.scheme_grayish .btn.modern a.auto-off,
.scheme_grayish .btn.modern a.fugit-off {
	color: #c82318;
}
.scheme_grayish .btn.modern:not(.disabled):hover a.bld-off,
.scheme_grayish .btn.modern:not(.disabled):hover a.auto-off,
.scheme_grayish .btn.modern:not(.disabled):hover a.fugit-off {
	color: #c82318;
}
.scheme_grayish .btn.modern.craftOn span.btnTitle { /* all buttons with engineer(s) in workshop tab */
	color: #599d00;
}
.scheme_grayish td.craftStuffPanel > span { /* title of craft stuff panel */
	color: #2c2c2c;
	font-size: 15px;
	padding-left: 10px;
}
.scheme_grayish td.craftStuffPanel > table { /* craft stuff panel */
    margin-top: 2px;
    padding: 10px 20px; /* default padding-top: 20px; */
    background: #cbcbcb;
    color: #2c2c2c;
	border: 1px solid #a3a3a3;
	border-radius: 15px;
	box-shadow: none;
}

/* ******************************************************** */
/* ******************* ACHIEVEMENTS TAB ******************* */
/* ******************************************************** */
.scheme_grayish .achievement-header {
	color: #ff589c;
	font-size: 18px;
	margin-bottom: 3px;
	padding-left: 30px;
}
.scheme_grayish .achievement {
    padding: 6px 5px 6px 10px; /* default padding: 5px; */
	/* default padding-left: 10px; */
	font-size: 16px;
	margin-bottom: 7px; /* default margin-bottom: 10px; */
	background-color: rgba(0, 0, 0, 0.05);
	color: #2c2c2c;
	letter-spacing: 1px;
	border: solid 1px #a3a3a3;
	border-radius: 7px;
}
.scheme_grayish .achievement:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
.scheme_grayish .achievement:not(.unethical).unlocked:hover {
	border-color: #242424;
	background-color: #343434;
	color: #f2f2f2;
}
.scheme_grayish .achievement:not(.unethical).unlocked:after,
.scheme_grayish .achievement.unethical.unlocked:after {
	color: #c3c3c3;
}
.scheme_grayish .achievement.unethical {
	color: #ce3450;
}
.scheme_grayish .achievement.unethical:hover {
	color: #de7588;
	border-color: #de7588;
	background-color: #343434;
}
.scheme_grayish .achievement:not(.unlocked) {
	color: #707070;
}
.scheme_grayish .achievement:not(.unlocked):hover {
	border-color: #707070;
}
.scheme_grayish .achievement:after {
	letter-spacing: normal;
	margin-top: 2px;
	font-size: 90%;
	color: #2c2c2c;
	text-shadow: none;
}
@media screen {
	.scheme_grayish .achievement[title]:hover::after{
	  opacity: 0.75; /* default opacity: 0.6; */
	}
  }
.scheme_grayish .achievement-header .star {
	/* default font size = font-size: 18px; */
	color: #ff8158;
}
.scheme_grayish .achievement .star {
	/* default font size = font-size: 18px; */
	color: #707070;
	text-shadow: none;
}
.scheme_grayish .achievement.unlocked .star {
	color: #ff8158;
}

/* **************************************************** */
/* ******************* RIGHT COLUMN ******************* */
/* **************************************************** */
.scheme_grayish #rightColumn {
    /* default padding-left: 8px; */
	width: calc(50% - 355px);
	max-width: 440px; /* default max-width: 400px; */
    /* default min-width: 250px; */
	top: 30px; /* default top: 20px; */
	/* default margin-top: 4px */
}
.scheme_grayish #toggleCenter,
.scheme_grayish span.toggleCenter {
	color: #646464;
	opacity: 0.6; /* default opacity: 0.2; */
	cursor: pointer;
}
.scheme_grayish span.toggleCenter {
	opacity: 1; /* for have #toggleCenter same color */
}
.scheme_grayish #toggleCenter:hover,
.scheme_grayish div#toggleCenter:hover > span.toggleCenter {
	color: #343434;
	opacity: 1.0;
}
.scheme_grayish #calendarDiv {
    color: #1867c8;
	padding-left: 5px;
    margin-top: 5px;
}
.scheme_grayish #calendarSign {
   font-size: 120%;
}
.scheme_grayish #calendarSign:hover {
   cursor: default;
}
.scheme_grayish .right-tab-header { /* Log | Chat link on right column */
	/* default margin-top: 10px; */
	font-size: 80%;
 }
.scheme_grayish .right-tab-header a {
	margin-right: -5px;
	/* default padding: 5px; */
    /* default padding-left: 30px; */
    /* default padding-right: 30px; */
}
.scheme_grayish .right-tab-header a.active {
	border-top: 1px solid #a3a3a3; /* default border-top: 1px solid rgba(128, 128, 128, 0.4); */
	color: #343434;
	font-weight: bold;
}
.scheme_grayish div#observeButton {
	margin-top: 5px; /* default margin-top: 15px */
	height: 35px; /* default height: 30px; */
	margin-bottom: 3px;
}
.scheme_grayish #rightTabChat {
	margin-top: 10px;
}
.scheme_grayish div.console-intro { /* Text on right column: "You are a kitten in a catnip forest." */
	color: #b5b5b5;
	border-top: 1px solid #a3a3a3 !important;
}
.scheme_grayish #clearLogHref { /* Link in right column: Clear log */
	font-size: 85%;
}
.scheme_grayish #logFiltersBlock > a { /* Link in right column: [+]Log Filters */
	font-size: 85%;
	margin-left: 5px;
}
.scheme_grayish #pauseBtn { /* Link in right column: pawse */
	margin-left: 5px;
}
.scheme_grayish #gameLog {
	/* default overflow-y: auto !important; */
	margin: 15px 10px 5px 10px;
	padding: 5px 10px 10px 3px !important;
}
.scheme_grayish #gameLog span.msg:not(.type_date)  {
	margin-left: 1.2em;
	list-style-type: disc;
	padding-left: 0.3em;
}
.scheme_grayish #gameLog span.msg.noBullet {
	margin-left: 2.3em !important;
	list-style-type: '\25B8' !important; /* 	BLACK RIGHT-POINTING SMALL TRIANGLE	*/ /* !important in default.css */
}
.scheme_grayish .msg {
	font-size: 95%;
	font-weight: normal;
	color: #4c4c4c;
}
.scheme_grayish .msg.type_notice {
	color: #1867c8; /* default color: #01A9DB; */
}
.scheme_grayish .msg.type_important {
    color: #ff8158; /* default color: coral; */
}
.scheme_grayish .msg.type_alert {
    color: #c82318; /* default color: red; */
}
.scheme_grayish .msg.type_urgent {
	color: #b03ada; /* default color: blueviolet; */
	font-size: 1.1em;
}
.scheme_grayish .msg.type_date {
	/* default margin-top: 15px; */
	color: #ff589c;
	/* default font-size: 90%; */
	text-transform: none;
	border-bottom: 1px solid #a3a3a3;
	padding-left: 5px;
}

/* *************************************************** */
/* ******************* LEFT COLUMN ******************* */
/* *************************************************** */
.scheme_grayish #leftColumn {
	margin-top: 10px; /* default margin-top: 4px; */
	/* default width: 25%; */
    /* default min-width: 300px; */
	/* default max-width: 400px; */
	padding-right: 10px; /* default padding right: 20px */
}
/* .scheme_grayish a.link { */
    /* default padding-right: 10px; */
/* } */
.scheme_grayish .res-toolbar.right {
	padding-right: 20px;
	/* default margin-right:-18px; */
}
.scheme_grayish a.link.collapse {
	opacity: 0.5; /* default opacity: 0.2; */
}
.scheme_grayish a.link.collapse:hover {
	opacity: 1;/* default opacity: 0.9; */
	color: #343434;
}
.scheme_grayish #leftColumn .res-toolbar a.link.toggled {
    color: #ff589c;
}
.scheme_grayish div.tooltip-block:hover {
	cursor: default;
}
.scheme_grayish div.tooltip-block > span {
	color: #646464;
}
.scheme_grayish div.tooltip-block:hover > span {
	font-weight: bold;
	color: #343434;
}
.scheme_grayish .res-table {
	max-width: 352px;/* default max-width: 340px; */
    border-collapse: collapse; /* gain of 3 pixel by border -> no margin bottom after */
	margin-left: 2px; /* without 0px margin left for all ressources */
 }
/* .scheme_grayish .res-toolbar.left { */
    /* default padding-left: 5px; */
/* } */
/* .scheme_grayish .res-cell { */
	/* default padding-left: 2px; */
    /* default padding-right: 2px; */
/* } */
.scheme_grayish .craftTable {
	margin-bottom: 60px !important; /* for correct margin bottom due of the line above with border-collapse: collapse on .res-Table ! */
	/* default padding-bottom: 50px; */
 }
.scheme_grayish .res-cell.craft-link {
	color: #646464;
	/* default width: 20px; */
	/* default max-width: 60px; */
 }
/* .scheme_grayish .res-cell.craft-link .plusPrefix { */
    /* default font-size: 80%; */
/* } */
.scheme_grayish .res-cell.craft-link.all { /* column craft all */
	font-size: 90%; /* default font-size: 85%; */
	opacity: 1; /* default opacity: 0.4; */
	color: #646464;
}
.scheme_grayish .res-cell.craft-link:hover,
.scheme_grayish .res-cell.craft-link.all:hover { /* craft table left column */
    color: #343434;
	text-decoration: none;
	text-shadow: none;
	font-weight: bold;
	opacity: 1;
}
.scheme_grayish .res-row {
	padding-bottom: 2px; /* default padding-bottom: 4px; */
}
.scheme_grayish .res-row:hover {
	background:  rgba(64, 64, 64, 0.1);
	cursor: default;
}
.scheme_grayish .highlited { /* higlighting ressources when hover button on center windows */
	background:  rgba(64, 64, 64, 0.1);
}
.scheme_grayish .res-toolbar {
	white-space: nowrap;
}
/* .scheme_grayish div.res-cell.resource-name {  */
	/* default width: 60px; */
	/* default max-width: 85px; */
/* } */
.scheme_grayish .maxRes,
.scheme_grayish .resAmount,
.scheme_grayish .resPerTick,
.scheme_grayish .res-cell.resource-value,
.scheme_grayish .craftTable {
	font-family: 'Source Sans Pro', sans-serif;
}
.scheme_grayish .resource_faith .resource-name,
.scheme_grayish .resource_kittens .resource-name,
.scheme_grayish .resource_steel .resource-name,
.scheme_grayish .resource_gear .resource-name,
.scheme_grayish .resource_alloy .resource-name,
.scheme_grayish .resource_megalith .resource-name {
	color: #707070 !important;
}
.scheme_grayish .resource_paragon .resource-name {
	color: #6141cd !important;
}
.scheme_grayish .resource_burnedParagon .resource-name {
	color: #4b2dad !important;
}
.scheme_grayish .resource_antimatter .resource-name,
.scheme_grayish .resource_relic .resource-name,
.scheme_grayish .resource_void .resource-name {
	color: #7557e8 !important;
}
.scheme_grayish .resource_unobtainium .resource-name {
	color: #c82318 !important;
}
.scheme_grayish .resource_eludium .resource-name {
	color: #b003ff !important;
}
.scheme_grayish .resource_scaffold .resource-name {
	color: #ff5f25 !important;
}
.scheme_grayish .resource_timeCrystal .resource-name {
	color: #11ad52 !important;
}
.scheme_grayish .resource_science .resource-name,
.scheme_grayish .resource_manuscript .resource-name,
.scheme_grayish .resource_compedium .resource-name,
.scheme_grayish .resource_blueprint .resource-name {
	color: #0192bd !important;
}
.scheme_grayish .resource_furs .resource-name,
.scheme_grayish .resource_ivory .resource-name,
.scheme_grayish .resource_spice .resource-name {
	color: #ff5010 !important;
}
.scheme_grayish .resource_unicorns .resource-name,
.scheme_grayish .resource_alicorn .resource-name,
.scheme_grayish .resource_tears .resource-name,
.scheme_grayish .resource_karma .resource-name {
	color: #df9000 !important;
	text-shadow: none !important;
}
.scheme_grayish .resource_blackcoin .resource-name {
	color: #ffd600;
}
.scheme_grayish .maxRes {
	color: #707070;
}
.scheme_grayish .resAmount {
    color: #4c4c4c;
}
.scheme_grayish .resLimitWarn {
	color: #ff8158;
	opacity: 1; /* default opacity: 0.75 */
	font-style: italic;
}
.scheme_grayish .resLimitNotice {
	color: #ff589c;
}
.scheme_grayish .resPerTick {
	cursor: default;
	color: #4c4c4c;
}
.scheme_grayish .res-row.resLeaderBonus .resPerTick {
	color: #1867c8;
}
.scheme_grayish .res-row.craftEngineer .res-cell.resource-value {
	color: #599d00;
}
.scheme_grayish div#advisorsContainer {
	color: #c82318;
	/* default padding-top: 10px; */
}
.scheme_grayish .res-cell.resource-value {
	/* default width: 75px; */
	/* default max-width: 90px; */
	color: #4c4c4c;
}
.scheme_grayish #fastHuntContainerCount { /* Text left column: "xx times" from Send hunters */
	color: #707070;
	text-shadow: none !important;
}
.scheme_grayish .res-cell.positive-weather { /* to change the color for bonus cell according to the season */
	color: #599d00;
	font-size: 90%;
}
.scheme_grayish .res-cell.negative-weather { /* to change the color for penalty cell according to the season */
	color: #c82318;
	font-size: 90%;
}

/* ************************************************* */
/* ******************* SCROLLBAR ******************* */
/* ************************************************* */
.scheme_grayish ::-webkit-scrollbar-track,
.scheme_grayish .dialog::-webkit-scrollbar-track,
.scheme_grayish textarea#importData::-webkit-scrollbar-track,
.scheme_grayish textarea#exportData::-webkit-scrollbar-track {
	border-radius: 0;
	background-color: transparent;
}
.scheme_grayish ::-webkit-scrollbar {
	width: 8px;
	border-radius: 0;
	background-color: transparent;
}
.scheme_grayish .dialog::-webkit-scrollbar {
	width: 10px;
	border-radius: 0;
	background-color: transparent;
}
.scheme_grayish textarea#importData::-webkit-scrollbar,
.scheme_grayish textarea#exportData::-webkit-scrollbar {
	width: 10px;
	border-radius: 0;
	background-color: rgba(255, 255, 255, 0.1);
}
.scheme_grayish ::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.1);
}
.scheme_grayish .dialog::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.3);
}
.scheme_grayish textarea#importData::-webkit-scrollbar-thumb,
.scheme_grayish textarea#exportData::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.6);
}
.scheme_grayish #gameLog::-webkit-scrollbar {
	width: 6px;
}
.scheme_grayish #gameLog::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.1);
}
/* Only FireFox */
.scheme_grayish #leftColumn,
.scheme_grayish #rightColumn,
.scheme_grayish #midColumn,
.scheme_grayish .dialog,
.scheme_grayish textarea#importData,
.scheme_grayish textarea#exportData,
.scheme_grayish #gameLog {
	scrollbar-width: thin;
}
.scheme_grayish #leftColumn,
.scheme_grayish #rightColumn,
.scheme_grayish #midColumn {
	scrollbar-color: rgba(0, 0, 0, 0.1) transparent !important;
}
.scheme_grayish .dialog {
	scrollbar-color: rgba(0, 0, 0, 0.3) transparent !important;
}
.scheme_grayish textarea#importData,
.scheme_grayish textarea#exportData {
	scrollbar-color: rgba(0, 0, 0, 0.5) rgba(255, 255, 255, 0.1) !important;
}
.scheme_grayish select {
   scrollbar-width: auto !important;
}
